<div id="admin_page_title" th:text="${type}" style="display:none;">admin 페이지 제목</div>

<div id="pay_section">
    <div>
        <div id="chart">
            <canvas id="line-chart" style="height:350px;width:750px;"></canvas>
        </div>
        <div id="sales">
            <p class="p_font2">어제 총 매출액</p>
            <p>1,000,000원</p>
            <span class="span_font">금주 예상 매출액 : 1,000,000원</span><br>
            <span class="span_font">당월 예상 매출액 : 1,000,000원</span><br>
            <span class="span_font">전월  매출액 : 1,000,000원</span>
        </div>
    </div>
    <div id="pay_table_content">
        <p>최근 구매 내역</p>
        <table id="pay_table">
            <!-- <select name="pay_days" id="pay_days">
                <option value="all" selected>전체</option>
                <option value="7">7일권</option>
                <option value="14">14일권</option>
                <option value="30">30일권</option>
            </select> -->
            <thead>
            <tr>
                <th>구매일시</th>
                <th>아이디</th>
                <th>닉네임</th>
                <th>이용권 종류</th>
            </tr>
            </thead>
       
            <tr>
                <td>2021.07.18</td>
                <td>qwerqwer</td>
                <td>체어킹</td>
                <td>30일권</td>
            </tr>
            <tr>
                <td>2021.07.17</td>
                <td>qwer2</td>
                <td>체어킹2</td>
                <td>7일권</td>
            </tr>
            <tr>
                <td>2021.07.16</td>
                <td>qwer3</td>
                <td>3체어킹</td>
                <td>14일권</td>
            </tr>
        </table>
        <button class="admin_buttons">더보기</button>
    </div>
       
</div>
   <!--  </div> -->

<!--     <script>
        $("#blame_menu").parent().click((e)=>{
            $("#blame_menu").toggle(500);
        });
    </script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->
    <script>
        //chart.js
		 $(document).ready(function(){
			function cash_chart(){
				new Chart(document.getElementById("line-chart"), {
				type: 'line',
				data: {
				    labels: [1,2,3,4,5,6,7],
				    datasets: [{ 
				        label: "7일권",
				        data: [2900,5800,8700,0,2900,2900,8700],
				        borderColor: "#4285F4",
				        fill: false
				    }, { 
				        data: [0,0,4900,14700,9800,9800,4900],
				        label: "14일권",
				        borderColor: "#DB4437",
				        fill: false
				    }, { 
				        data: [11800,5900,0,0,59000,29500,11800],
				        label: "30일권",
				        borderColor: "#F4B400",
				        fill: false
				    }
				    ]
				},
				options: {
				    title: {
				    display: true,
				    text: '이번주 결제 현황'
				    }
				}
				});
			}
			cash_chart();
		});
    </script>
<!-- 
</body>
</html> -->