<!DOCTYPE html>
<html lang="en">
<head>
	<!-- 내 css -->
	<link th:href="@{/css/admin/admin_notice_write.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/admin/admin.css}" rel="stylesheet" type="text/css">
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
    <div id="wrapper">
        <!-- 헤더바 -->
        <div th:replace="/fragments/headerbar.html :: fragment-headerbar"></div>
        
        <!-- 관리자 메뉴바> -->
		<nav >
		    <div id="admin_menu">
		        <div id="admin_profile">
		            <img th:src="@{/images/admin/admin.jpg}" width="150px" height="150px">
		            <br>
		            <br>
		            <br>
		            <span>POOM 관리자님, 환영합니다.</span>
		        </div>
		        <ul>
		            <li onclick="fn_load('notice');">
		            	<img th:src="@{/images/admin/notice.png}" >공지사항관리
		            </li>
		            <li onclick="fn_load('blame');">
		            	<img th:src="@{/images/admin/siren.PNG}" >신고관리
		                <ul id="blame_menu" style="display:none">
		                    <li onclick="fn_moveToBlame('1');">신고된 게시글</li>
		                    <li onclick="fn_moveToBlame('2');">신고된 댓글</li>
		                    <li onclick="fn_moveToBlame('3');">신고된 채팅</li>
                    		<li onclick="fn_moveToBlame('4');">정지된 회원 관리</li>
		                </ul>
		            </li>
		            <li onclick="fn_load('pay');">
		            	<img th:src="@{/images/admin/pay.png}" >결제관리
	            	</li>
		        </ul>
		    </div>
		</nav>
        
        <!-- ajax 구현해보기 -->
        <div id="target"></div>
     </div>
     
     
  <script th:inline="javascript">
  	//누르자마자 화면 뜨기
  	const type=[[${type}]];
  	console.log(type);
  	
  	$(function(){
   		fn_load(type);
  	});
  	
  	function fn_load(type){
	   	if(type=='notice'){
	   		$.ajax({
	   			url:"/admin/notice",
	   			data:{"type":type},
	   		}).done(function (fragment) {
	   			$("#target").html(fragment);
	    		$("#admin_menu>ul>li").css("color","black");
	    		$("#blame_menu").hide();
	   			$("#admin_menu>ul>li:first").css("color","#F77B1E");
	   		});
	   	}else if(type=='blame'){
	   		$.ajax({
	   			url:"/admin/blame",
	   			data:{"type":type},
	   		}).done(function (fragment) {
	   			$("#target").html(fragment);
	    		$("#admin_menu>ul>li").css("color","black");
	    		$("#blame_menu").parent().css("color","#F77B1E");
	   		$("#blame_menu").show();
	   		$("#blame_menu").children().first().css({"color":"#F77B1E","list-style-type": "disc"});
	   		});
	   	}else if(type=='pay'){
	   		$.ajax({
	   			url:"/admin/pay",
	   			data:{"type":type},
	   		}).done(function (fragment) {
	   			$("#target").html(fragment);
	    		$("#admin_menu>ul>li").css("color","black");
	    		$("#admin_menu>ul>li:last").css("color","#F77B1E");
	    		$("#blame_menu").hide();
	   		});
	   	};
  	}
  	
  	//신고 소 메뉴들 클릭시 이동시키기
  	function fn_moveToBlame(i){
  		$.ajax({
  			url:"/admin/blame",
  			data:{"type":i},
  		}).done(function(fragment){
  			$("#target").html(fragment);
  		})
  	}
  </script>
   
<script th:inline="javascript" th:src="@{/js/admin/admin_js_he.js}"></script>
</body>
</html>