<div id="admin_section">
    <div id="admin_page_title" th:text="${blame_title}"></div>
    <div id="admin_content">
        <!-- <select name="del_status" id="del_status">
            <option value="n">N</option>
            <option value="y">Y</option>
        </select> -->
        <table id="blame_table">
            <thead>
            <tr>
                <th><input type="checkbox" name="brd_blame_allChk"></th>
               <th:block th:switch="${type}">
                <th th:case="'1'">게시글 번호</th>
                <th th:case="'blame'">게시글 번호</th>
                <th th:case="'2'">번호</th>
                <th th:case="'3'">채팅방 번호</th>
                <th th:case="'4'">작성자</th>
              </th:block>
              <th:block th:switch="${type}">
                <th th:case="'1'">작성자</th>
                <th th:case="'blame'">작성자</th>
                <th th:case="'2'">작성자</th>
                <th th:case="'3'">방장</th>
                <th th:case="'4'">작성자</th>
              </th:block>
              <th:block th:switch="${type}">
                <th th:case="'1'">게시글 제목</th>
                <th th:case="'blame'">게시글 제목</th>
                <th th:case="'2'">댓글 내용</th>
                <th th:case="'3'">채팅방 이름</th>
                <th th:case="'4'">게시글 제목</th>
              </th:block>
              <!-- <th style="text-align:center;">신고 사유</th> -->
                <th>누적 신고 수</th>
                <th>삭제여부<br>
                    <input type="radio" name="del_status" value="n" checked>N
                    <input type="radio" name="del_status" value="y">Y
                </th>
            </tr>
            </thead>
            <tbody th:if="${type} eq '1' or ${type} eq 'blame'">
            	<tr th:each="b : ${list}">
            		<td>
            			<input type="checkbox" name="brd_blame_chk" th:title="${b.BOARD_NO}">
           			</td>
            		<td th:text="${b.BOARD_NO}">1</td>
            		<td th:text="${b.MEMBER_ID}"></td>
            		<td th:text="${b.BOARD_TITLE}"></td>
            		<!-- <td th:text="${b.BLAME_REASON}"></td> -->
            		<td  >
            			<!-- <a th:onclick="|fn_check_pop('${type,b.BOARD_NO}')|" th:text="${b.BLAME_COUNT}"></a> -->
            			<a style="cursor:pointer;"th:data-p1="${type}" th:data-p2="${b.BOARD_NO}" 
            				th:onclick="|fn_check_pop(this.getAttribute('data-p1'),this.getAttribute('data-p2'))|" th:text="${b.BLAME_COUNT}"></a>
           			</td>
            		<td th:text="${b.DEL_STATUS} eq 0?'N':'Y'"></td>
            	</tr>
            </tbody>
            <tbody th:if="${type} eq '2'">
            	<tr th:each="bc : ${list}">
            		<td>
            			<input type="checkbox" name="brd_blame_chk" th:title="${bc.COMMENT_NO}">
           			</td>
            		<td>1</td>
            		<td th:text="${bc.COMMENT_WRITER}"></td>
            		<td th:text="${bc.COMMENT_CONTENT}"></td>
            		<!-- <td th:text="${bc.BLAME_REASON}"></td> -->
            		<td th:text="${bc.BC_BLAME_COUNT}"></td>
            		<td th:text="${bc.DEL_STATUS} eq 0?'N':'Y'"></td>
            	</tr>
            </tbody>
            <tbody th:if="${type} eq '3'">
            	<tr th:each="ch : ${list}">
            		<td>
            			<input type="checkbox" name="brd_blame_chk" th:title="${ch.CHAT_NO}">
           			</td>
            		<td th:text="${ch.CHAT_NO}">1</td>
            		<td th:text="${ch.MEMBER_ID}"></td>
            		<td th:text="${ch.CHAT_TITLE}"></td>
            		<!-- <td th:text="${ch.BLAME_REASON}"></td> -->
            		<td th:text="${ch.CH_BLAME_COUNT}"></td>
            		<td th:text="${ch.DEL_STATUS} eq 0?'N':'Y'"></td>
            	</tr>
            </tbody>
            <tbody th:if="${type} eq '4'">
            	<tr th:each="m : ${list}">
            		<td>
            			<input type="checkbox" name="brd_blame_chk" th:title="${b.BOARD_NO}">
           			</td>
            		<td>1</td>
            		<td th:text="${m.MEMBER_ID}"></td>
            		<td th:text="${m.BOARD_TITLE}"></td>
            		<!-- <td th:text="${m.BLAME_REASON}"></td> -->
            		<td>누적신고수(추후 COUNT)</td>
            		<td th:text="${m.DEL_STATUS} eq 0?'N':'Y'"></td>
            	</tr>
            </tbody>
        </table>
       	<div id="admin_pagebar">
			<div>
				<!-- 이전 -->
				<div>
					<a th:if="${pagination.currentPage} eq 1" >&lt;</a>
					<a href="#" th:unless="${pagination.currentPage} eq 1" th:onclick="|fn_ajax_paging('${pagination.currentPage-1}')|">&lt;</a>
				</div>
				<!-- 페이지블록 -->
				<th:block th:each="n:${#numbers.sequence(pagination.firstPage,pagination.lastPage)}">
				<div th:if="${pagination.currentPage eq n}" style="background-color: #F77B1E;color:white;font-size:20px;">
					<a th:onclick="|fn_ajax_paging('${n}')|" th:text="${n}" >1</a>
				</div>
				
				<div th:unless="${pagination.currentPage eq n}">
					<a  href="#" th:onclick="|fn_ajax_paging('${n}')|" th:text="${n}">1</a>
				</div>
				</th:block>
				<!-- 다음 -->
				<div>
					<a th:if="${pagination.totalPageCount==pagination.currentPage}">&gt;</a>
					<a href="#" th:unless="${pagination.totalPageCount==pagination.currentPage}" th:onclick="|fn_ajax_paging('${pagination.currentPage+1}')|">&gt;</a>
				</div>
			</div>
      		<button class="admin_buttons" onclick="" style="position:absolute;left:1070px;">삭제</button><!-- 각 del_status의 상태를 바꾸는 것 -->
      	</div>
        <!-- <button onclick="fn_goBlame();">신고팝업테스트</button> -->
    </div>
</div>
<script th:inline="javascript">
function fn_check_pop(t,no){
	window.open("/blame/checkPop?type="+t+"&no="+no,"","width=400px,height=570px,top=260px,left=800px");
}

function fn_ajax_paging(i){
	var type=[[${type}]];	
	$.ajax({
		url:"/blame",
		data:{
			"currentPage":i,
			"type":type
		}
	}).done(function(fragment){
		$("#target").html(fragment);
	});
};



//신고하기 팝업 테스트
 	function fn_goBlame(){
		var type="bc";
		var no=2;
		var nick="닉네임";
		console.log(type,no,nick);
		window.open("/blame/report?type="+type+"&no="+no+"&id="+nick,"","width=495px,height=530px,top=260px,left=800px,status=no,toolbar=no,scrollbars=no");
	}

$(function(){
	$("#blame_menu").show();
	$("#blame_menu").click(e=>{
		e.stopPropagation();
	})
})

//title에 맞게 왼쪽 메뉴 hover지정해놓기
$(function(){
	var title=[[${type}]];
	switch(title){
		case "1": 
		case "blame" :
			$("#blame_menu").children().css({"color":"black","list-style-type": "none"});
   			$("#blame_menu").children().first().css({"color":"#F77B1E","list-style-type": "disc"});
			break;
		case "2" : 
			$("#blame_menu").children().css({"color":"black","list-style-type": "none"});
			$("#blame_menu").children().eq(1).css({"color":"#F77B1E","list-style-type": "disc"}); break;
		case "3" : 
			$("#blame_menu").children().css({"color":"black","list-style-type": "none"});
			$("#blame_menu").children().eq(2).css({"color":"#F77B1E","list-style-type": "disc"}); break;
		case "4" : 
			$("#blame_menu").children().css({"color":"black","list-style-type": "none"});
			$("#blame_menu").children().eq(3).css({"color":"#F77B1E","list-style-type": "disc"}); break;
	}
});

//신고관리 전체 체크박스
$("[name='brd_blame_allChk']").click(e=>{                     
	if($("[name='brd_blame_allChk']").is(":checked")){          //전체 체크박스 checked되면
		$("[name='brd_blame_chk']").prop("checked",true);           //모든 chk(일반 개별 체크박스)들 true->checked로 변경
	}else{
		$("[name='brd_blame_chk']").prop("checked",false);
	}
});
//하나라도 체크 빠지면 전체체크 해제
//length나중에 페이징처리하고 수정하기
$("[name='brd_blame_chk']").click(e=>{
	if($("[name='brd_blame_chk']:checked").length==5){    
		$("[name='brd_blame_allChk']").prop("checked",true);
	}else{
		$("[name='brd_blame_allChk']").prop("checked",false);
	}
});

</script>

</body>
</html>