<div id="admin_section">
    <div id="admin_page_title" th:text="${type1}">admin 페이지 제목</div>
    <div id="admin_content">
        <table id="notice_table">
            <thead>
            <tr>
                <th>번호</th>
                <th>게시판종류</th>
                <th>제목</th>
                <th>등록날짜</th>
                <th>게시여부</th>
            </tr>
            </thead>
            <tbody>
            	<tr>
	                <td>1</td>
	                <td>출산/육아/교육</td>
	                <td>지역구별 학군 관련 공지사항</td>
	                <td>21.07.01</td>
	                <td>게시중</td>
                </tr>
            </tbody>
            <tbody>
            	<tr>
	                <td>2</td>
	                <td>분실물</td>
	                <td>00시기준 분실물 접수 현황</td>
	                <td>21.07.02</td>
	                <td>게시중</td>
                </tr>
            </tbody>
            <tbody>
            	<tr>
	                <td>3</td>
	                <td>일손(품앗이)</td>
	                <td>일손(품앗이) 게시글 작성 공지</td>
	                <td>21.07.03</td>
	                <td>삭제</td>
	            </tr>
            </tbody>
            <tbody>
            	<tr>
	                <td>4</td>
	                <td>스터디/소모임</td>
	                <td>애인목적 사절합니다. 적발시 영구정지</td>
	                <td>21.07.04</td>
	                <td>게시중</td>
                </tr>
            </tbody>
            <tbody>
            	<tr>
	                <td>5</td>
	                <td>공동구매</td>
	                <td>총대분들 공지확인하세요. 먹튀에겐 죽음뿐..</td>
	                <td>21.07.05</td>
	                <td>게시중</td>
                </tr>
            </tbody>
        </table>
        <div id="notice_pagebar">
            공지사항 페이지바
        </div>
        <button class="admin_buttons">작성하기</button>
    </div>
</div>