<!DOCTYPE html>
<html lang="en">
<head>
	<!-- 내 css -->
	<link th:href="@{/css/admin/admin_notice_write.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/admin/admin.css}" rel="stylesheet" type="text/css">
 
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
    <div id="wrapper">
        <!-- 헤더바 -->
        <div th:replace="/fragments/admin_header.html :: admin_header"></div>
        <!-- 관리자 좌측메뉴바 -->
    	<div th:replace="/fragments/admin_nav.html :: admin_nav"></div>
	
		<!-- content자리 -->
		<div id="target"></div>
	</div>
	
	
<script th:inline="javascript">
	//페이지바 설정하기 (현재페이지 보여주기)
	var cPage=[[${cPage}]];
	console.log(cPage);
	//누르자마자 화면뜨기
	$(function (){
		fn_ajax_paging(1);
	}) 
	//ajax 페이징처리
	function fn_ajax_paging(i){
		$.ajax({
			url:getContextPath()+"/admin/notice",
			data:{
				"page":i-1
			}
		}).done(function(fragment){
			$("#target").html(fragment);
		});
		//뒤로가기 해보기
		//history.pushState(data, title, url)
		/* history.pushState({ 
			url: getContextPath()+"/admin/notice", 
			page: i-1 
			}, "page"+page, getContextPath()+"/admin/notice?page="+i-1); */

	};
	//이벤트 감지해서 뒤로가기 불러오는 ajax 
/* 	$(window).on('popstate', function (event) { 
		const data = event.originalEvent.state; 
		console.log(data);
		$.ajax({ 
			url: getContextPath()+"/admin/notice", 
			data: {
				page:data.page, 
			}, type: "get", 
			success: (result) => { 
				$("#target").html(result); 
			}
		})
	}) */

	
</script>
</body>
</html>