<div id="admin_section">
    <div id="admin_page_title" th:text="${blame_title}"></div>
    <div id="admin_content">
        <!-- <select name="del_status" id="del_status">
            <option value="n">N</option>
            <option value="y">Y</option>
        </select> -->
        <table id="blame_table">
            <thead>
            <tr>
                <th><input type="checkbox" name="brd_blame_allChk"></th>
                <th>번호</th>
              <th:block th:switch="${type}">
                <th th:case="'1'">작성자</th>
                <th th:case="'blame'">작성자</th>
                <th th:case="'2'">작성자</th>
                <th th:case="'3'">방장</th>
                <th th:case="'4'">작성자</th>
              </th:block>
              <th:block th:switch="${type}">
                <th th:case="'1'">게시글 제목</th>
                <th th:case="'blame'">게시글 제목</th>
                <th th:case="'2'">댓글 내용</th>
                <th th:case="'3'">채팅방 이름</th>
                <th th:case="'4'">게시글 제목</th>
              </th:block>
                <th>누적 신고 수</th>
                <th>삭제여부<br>
                    <input type="radio" name="del_status" value="n" checked>N
                    <input type="radio" name="del_status" value="y">Y
                </th>
            </tr>
            </thead>
            <tbody>
            	<tr th:each="b : ${list}">
            		<td><input type="checkbox" name="brd_blame_chk" th:title="${b.BOARD_NO}"></td>
            		<td>1</td>
            		<td th:text="${b.MEMBER_ID}"></td>
            		<td th:text="${b.BOARD_TITLE}"></td>
            		<td>누적신고수(추후 COUNT)</td>
            		<td th:text="${b.DEL_STATUS} eq 0?'N':'Y'"></td>
            	</tr>
            </tbody>
        </table>
        <div id="pagebar">
            페이지바
        </div>
        <button>삭제</button>
    </div>
</div>
<script th:inline="javascript">
$(function(){
	$("#blame_menu").show();
	$("#blame_menu").click(e=>{
		e.stopPropagation();
	})
})

//신고관리 전체 체크박스
$("[name='brd_blame_allChk']").click(e=>{                     
	if($("[name='brd_blame_allChk']").is(":checked")){          //전체 체크박스 checked되면
		$("[name='brd_blame_chk']").prop("checked",true);           //모든 chk(일반 개별 체크박스)들 true->checked로 변경
	}else{
		$("[name='brd_blame_chk']").prop("checked",false);
	}
});
//하나라도 체크 빠지면 전체체크 해제
//length나중에 페이징처리하고 수정하기
$("[name='brd_blame_chk']").click(e=>{
	if($("[name='brd_blame_chk']:checked").length==5){    
		$("[name='brd_blame_allChk']").prop("checked",true);
	}else{
		$("[name='brd_blame_allChk']").prop("checked",false);
	}
});

</script>

</body>
</html>