<div id="notice_section">
    <div id="notice_page_title">
        공지사항 작성
    </div>
    <div id="notice_content">
        <form action="/admin/noticeWrite" method="post">
	        <div id="notice_content_title">
	            <span class="title_bold" >제목</span>  │
	            <input type="text" name="noticeTitle" placeholder="공지사항 제목을 입력하세요.">
	        </div>
	        <div id="notice_category">
	            <span class="title_bold">게시판 카테고리</span>
	            │
	            <label><input type="checkbox" name="cateChk" class="allCheck" value="-1">전체</label>
	            <label><input type="checkbox" name="cateChk" class="chk" value="1"> 출산, 육아, 교육</label>
	            <label><input type="checkbox" name="cateChk" class="chk" value="2"> 분실물</label>
	            <label><input type="checkbox" name="cateChk" class="chk" value="3"> 일손(품앗이)</label>
	            <label><input type="checkbox" name="cateChk" class="chk" value="4"> 스터디, 소모임</label>
	            <label><input type="checkbox" name="cateChk" class="chk" value="5"> 공동구매</label>
	        </div>
	        <div id="notice_content_content">
	            <textarea name="noticeContent" id="notice_content_write" placeholder="내용을 입력해주세요."></textarea>
	        </div>
		    <div id="admin_buttons">
		        <button class="admin_buttons" th:text="${type} eq '등록'?'등록':'수정'"></button>
		        <!-- <button class="admin_buttons">수정</button> -->
		        <!-- <button class="admin_buttons1">삭제</button> -->
		    </div>
	    </form> 
    </div>  
</div>
