<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
<div>
	<table id="notice_table" th:if="${list!=null}">
        <thead>
        <tr >
            <th>번호</th>
            <th>게시판종류</th>
            <th>제목</th>
            <th>등록날짜</th>
            <th>게시여부</th>
        </tr>
        </thead>
        <tbody>
        	<tr th:each="n : ${list}">
        		<td th:text="${n.noticeNo}">1</td>
        		<td th:text="${n.categoryNo}"></td>
        		<td th:text="${n.noticeTitle}" name="moveToView" th:title="${n.noticeNo}">
		<!-- <a th:href="@{/admin/noticeView(no=${n.NOTICE_NO})}" ></a> -->
				</td>
        		<td th:text="${#dates.format(n.noticeDate,'yyyy-MM-dd')}"></td>
        		<td th:text="${n.noticeStatus} eq 0?'게시중':'삭제'"></td>
            </tr>
        </tbody>
    </table>
		<nav aria-label="Page navigation example">
		  <ul class="pagination justify-content-center">
		  <!-- 1페이지일대 이전 불가 -->
		    <li class="page-item" th:classappend="${1==cPage}?'disabled'">
		      <a class="page-link" href="#" th:href="@{/payAdmin/notice(page=${cPage})}"tabindex="-1" aria-disabled="true">Previous</a>
		    </li>
		    
		    <!-- th:classappend => true일때만 class적용하기, i와 현재페이지가 같을 때 disabled적용 -->
		    <li class="page-item " th:classappend="${i==cPage}?'disabled'" th:each="i :${#numbers.sequence(startpage,endpage)}">
		    	<a class="page-link" href="#" th:href="@{/payAdmin/notice(page=${i-1})}" th:text="${i}">1</a>
	    	</li>
	    	
	    	<!-- 마지막페이지일때 다음 불가-->
		    <li class="page-item" th:classappend="${list.totalPages==cPage}?'disabled'">
		      <a class="page-link" href="#" th:href="@{/payAdmin/notice(page=${list.pageable.pageNumber+1})}">Next</a>
		    </li>
		  </ul>
		</nav>
</div>
</body>
</html>