<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="admin_pagebar">
        <div>&lt;</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>&gt;</div>
    </div>
</body>
<style>
    div#admin_pagebar{
        height:60px;
        display:flex;
    }
    div#admin_pagebar div{
        /* border:1px black solid; */
        height:50px;
        width:50px;
        text-align: center;
        line-height: 46px;
        font-weight: bold;
        color:darkgray;
        border-radius: 15px;
        font-size: 30px;
        margin:0 3px;
    }
    div#admin_pagebar div:hover{
        background-color: #F77B1E;
        color:white;
    }

</style>

</html>