<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- iamport.payment.js -->
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>

<body>
	<link rel="stylesheet" type="text/css" th:href="@{/css/pay/pay.css}">
	
    <div id="wrapper">
    
    	<!-- 헤더바 -->
        <div th:replace="/fragments/headerbar.html :: fragment-headerbar"></div>
    	<!-- 좌측메뉴바 -->
        <div th:replace="/fragments/nav.html :: fragment-nav"></div>
   
   		<div id="content">
	        <!-- 구매화면 -->
	        <div id="pay_container">
	            <p>열람권 구매하기</p>
	            <form action="" method="post">
	                <ul>
	                    <li>
	                        <label><input type="radio" name="itemNo" value="">7일 이용권</label>
	                        <span>\ 4,900</span>
	                        <span>➔</span>
	                        <span>\ 2,900</span>
	                    </li>
	                    <li>
	                        <label><input type="radio" name="itemNo" value="">14일 이용권</label>
	                        <span>\ 9,900</span>
	                        <span>➔</span>
	                        <span>\ 4,900</span>
	                    </li>
	                    <li>
	                        <label><input type="radio" name="itemNo" value="">30일 이용권</label>
	                        <span>\ 19,800</span>
	                        <span>➔</span>
	                        <span>\ 5,900</span>
	                    </li>
	                </ul>
	                <div>
	                    <input type="submit" class="btn" value="결제" onclick="pay()"/>&nbsp;&nbsp;
	                    <button type="button" class="btn" onclick="location.assign('/');">취소</button>
	                </div>
	            </form>
	        </div>
        </div>
    </div>
    
	<script th:src="@{/js/pay/pay_sh.js}"></script>
    
</body>
</html>