<div id="search_section">
  <div id="table1" th:if="${list!=null}" >
    <table class="col-100 col" >
      <colgroup>
        <col width="10%">
        <col width="20%">
        <col width="*%">
        <col width="*%">
      </colgroup>
      <thead>
      <tr>
        <th style="display:none">no</th>
        <th style="display:none">카테고리 번호</th>
        <th>카테고리 이름</th>
        <th>게시물 종류</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성일자</th>
        <th>작성자</th>
      </tr>
      </thead>
      <tbody  id="searchBody">
      <tr th:each="mv:${list}">
        <td style="display:none" th:text="${mv.SEARCH_NO}" ></td>
        <td style="display:none" th:text="${mv.CATEGORY_NO}"></td>
        <td th:text="${mv.CATEGORY_NAME}" ></td>
        <td th:text="${mv.CON_TYPE}"></td>
        <td th:text="${mv.TITLE}"></td>
        <td th:text="${mv.CONTENT}"></td>
        <td th:text="${mv.WRITE_DATE}"></td>
        <td th:text="${mv.MEMBER_ID}"></td>
      </tr>
      </tbody>
    </table>
  </div>