<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>

<body>
<div id="wrapper">

    <!-- 헤더바 -->
    <div th:replace="/fragments/headerbar.html :: fragment-headerbar"></div>
    <!-- 좌측메뉴바 -->
    <div th:replace="/fragments/nav.html :: fragment-nav"></div>

    <!-- 우측콘텐츠 / 고정+변동 -->
    <div id="content">

        <!-- 프로필 -->
        <div th:replace="/fragments/profile.html :: fragment-profile"></div>

        <!-- main 피드 -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/search/search_content.css}">
        <div class="feed">
			<link rel="stylesheet" type="text/css" th:href="@{/css/hashtag/main_board_tag.css}">
			<link rel="stylesheet" type="text/css" th:href="@{/css/search/search_content.css}">
			<form id="mainBoard_form" th:action="@{/board/feedWrite}" method="post" name="feedWrite_form">
        		<input type="hidden" name="id" th:value="${session.loginMember.MEMBER_ID}">
				<input type="hidden" name="loc" th:value="${session.loginMember.MEMBER_LOC}">
	            <div class="feed_write" id="feedTop">
	                <select name="category" id="category">
	                    <option value="1">출산,육아,교육</option>
	                    <option value="2">분실물</option>
	                    <option value="3">일손(품앗이)</option>
	                    <option value="5">공동구매</option>
	                    <option value="6">자유게시판</option>
	                </select>
	                <input type="text" name="title" value="" placeholder="제목을 입력하세요">
	                <hr>
                	<textarea name="content" placeholder="200자 내로 피드를 등록해보세요. 더 자세한 글작성은 하단 글쓰기 버튼을 이용해주세요!"></textarea>
                	<span id="intro_cnt">(0 / 200)</span>
	                <hr>

	                <button type="button" class="create_tag_input"><i class="gg-add"></i></i> 태그추가</button>
	                <button type="button" onclick="feedWrite();">등록</button>
	                <button type="button" onclick="goWriteForm();">상세글쓰기</button>
	            </div>
            </form>
            <div class="feed_new">
            	<div class="loc_onoff">
            		<input type="hidden" name="payLevel" th:value="${session.loginMember.PAY_LEVEL}" />
	           		<label class="loc_switch">
					    <input type="checkbox" name="loc_check">
					    <span class="round"></span>
					</label>
					<p class="onoffBtn" th:text="${session.loginMember.MEMBER_LOC}"></p>
				</div>
           		<ul class="feedtab">
		            <li class="feedtab_on" id="feedall">전체글</li><span>|</span>
		            <li id="feedkey">#마이태그글</li>
		        </ul>
		        <div id="feed_content"></div>
            </div>
	        <div class=topBtn><a href="#feedTop">▲TOP</a></div>
        </div>

        <!-- HOT키워드순위창 -->
        <div th:replace="/fragments/rank.html :: fragment-rank"></div>

    </div>
</div>
</body>
<script th:src="@{/js/popuprank/popuprank_js_hu.js}"></script>
<script th:src="@{/js/hashtag/hash_create_main_js_hu.js}"></script>
<script th:src="@{/js/main/main_js_jk.js}"></script>
<script th:src="@{/js/board/board_list_sh.js}"></script>
<script th:src="@{/js/main/noti_js_hu.js}"></script>
<script th:src="@{/js/member/membermodi_jh.js}"></script>
<script th:src="@{/js/member/mywrite_jh.js}"></script>
<script th:src="@{/js/board/board_list_sh.js}"></script>
<script th:src="@{/js/board/board_form_sh.js}"></script>
<script th:src="@{/js/search/search_js_sh.js}"></script>
<script th:src="@{/js/board/board_view_sh.js}"></script>
<script th:src="@{/js/board/boardForm_jh.js}"></script>

</html>