<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <!-- css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/board/board_list.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/board/board_view.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/board/board_form.css}">
</head>

<body>
<div id="wrapper">

    <!-- 헤더바 -->
    <div th:replace="/fragments/headerbar.html :: fragment-headerbar"></div>
    <!-- 좌측메뉴바 -->
    <div th:replace="/fragments/nav.html :: fragment-nav"></div>

    <!-- 우측콘텐츠 / 고정+변동 -->
    <div id="content">

        <!-- 프로필 -->
        <div th:replace="/fragments/profile.html :: fragment-profile"></div>

        <!-- main 피드 -->
        <div class="feed">
        	<form id="mainBoard_form" action="/board/insert" method="post" enctype="multipart/form-data">
	            <div class="feed_write">
	                <select name="boardCate" id="category">
	                    <option value="1">출산,육아,교육</option>
	                    <option value="2">분실물</option>
	                    <option value="3">일손(품앗이)</option>
	                    <option value="4">공동구매</option>
	                </select>
	                <input type="text" name="boardTitle" value="" placeholder="제목을 입력하세요">
	                <hr>
	                <textarea name="boardContent" onkeyup="resize(this)" placeholder="간단한 글을 작성해보세요. 더 자세한 글작성은 하단 글쓰기 버튼을 이용해주세요!"></textarea>
	                <hr>
	                <button type="button"><i class="gg-add"></i></i> 태그추가</button>
	                <button type="button" onclick="insertBoard();">등록</button>
	                <button type="button" onclick="goWriteForm();">글쓰기</button>
	            </div>
            </form>
            <div class="feed_new"></div>
        </div>

        <!-- HOT키워드순위창 -->
        <div th:replace="/fragments/rank.html :: fragment-rank"></div>

    </div>
</div>
</body>

<script th:src="@{/js/main/main_js_jk.js}"></script>
<script th:src="@{/js/board/board_list_sh.js}"></script>
<script th:src="@{/js/main/noti_js_hu.js}"></script>
<script th:src="@{/js/member/membermodi_jh.js}"></script>
<script th:src="@{/js/member/mywrite_jh.js}"></script>
<script th:src="@{/js/board/board_list_sh.js}"></script>
<script th:src="@{/js/board/board_form_sh.js}"></script>

</html>