	#pay_container{
		/* position:absolute;
		top:130px; */
		/* border:1px solid black; */
		height:700px;
	    flex-basis: 64%;
	    overflow-y: auto;
		padding:50px;
	}
	/* 페이지 제목 */
	#pay_container>p{
	    text-align: center;
	    font-weight: bold;
	    font-size:30px;
	    margin-bottom:30px;
	}
	
	/* form태그 */
	#pay_container>form{
	    background:#f7f7f7;;
	    border-radius: 20px;
	    padding:20px;
	    width:80%;/*  height:510px; */
	    margin:0 auto;
/* 	    display:flex; 
    	flex-direction: column;
    	justify-content:space-evenly; */
	}
	#pay_container ul{
	    padding:0; margin:0;
	    vertical-align: center;
	    
	}
	#pay_container li{
	    list-style:none;
	    margin:30px;
	    height:60px;
	    border-radius: 25px;
	    background-color: #ffffff;
		text-align: center;
	}
	#pay_container li>*{
	    display:inline-block;
	    width:100px;
	    position:relative;
	    top:15px;
	    font-size:20px;
		cursor: pointer;
	}
	#pay_container li label{
	    width:150px;
	}
	
	/* 선택된 이용권에 적용할 클래스 */
	.item_selected{
		/* box-shadow:1px 1px 10px 3px gainsboro; */
		border:3px solid gainsboro;
	}
	
	/* 화살표 */
	#pay_container li>span:nth-of-type(4){
	    text-align:center;
	    /* font-size:40px; height:10px;
	    display:inline-block; */
	}
	/* 할인 전 가격 */
	#pay_container li :nth-child(4){
	    text-decoration: line-through;
	}
	/* 버튼 포함된 div */
	#pay_container>form>div{
	    display:flex;
	    justify-content: center;
	    margin-top:20px;
	}
	/* 버튼 */
	#pay_container>form>div *{
		width: 80px;
		height: 40px;
		cursor: pointer;
		border: 1px solid gray;
		border-radius: 30px;
		background-color: #fdfdfd;
	}
	#pay_container>form>div>button:first-child{
		background-color: #F77B1E;
		margin-right: 15px;
		width: 80px;
		height: 40px;
		border-radius: 30px;
		font-weight: bolder;
	}

	.pay-info{
		font-size: 18px !important;
		font-weight: lighter !important;
		color: grey;
	}

	.pay-info span{
		font-weight: bold;
		color: rgb(6, 102, 146);
	}