<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/board/board_view.css}">

<div id="board_view">
<!-- 게시글 상세화면 -->
    <div id="board_container">
    	<ul>
    		<li>
    			<span th:text="${board['BOARD_TITLE']}">제목</span>
    			<span th:text="${#arrays.contains(likeTable,board['BOARD_NO'])?'♥':'♡'}"
    				th:data-add="${board['BOARD_NO']}" th:data-id="${session.loginMember.MEMBER_ID}" 
					th:data-like="${#arrays.contains(likeTable,board['BOARD_NO'])}?'누름':'안누름'"
					th:onclick="|fn_changeLike(this.getAttribute('data-add'),this.getAttribute('data-id'),this.getAttribute('data-like'));|" ></span>
   			</li>
   			<li>
   				<span th:text="'작성자 : '+${board['B_WRITER']}">닉네임</span>
   				<span th:text="${#dates.format(board['BOARD_DATE'],'yyyy-MM-dd')}" style="display:inline-block;float:right;">작성일</span>
   			</li>
    		<li><span th:text="${board['BOARD_CONTENT']}">내용</span></li>
    		<li>
    			<span>해시태그들</span><span></span>
    		</li>
    	</ul>
        <div >
        	<span>
        		<button type="button" class="btn" onsubmit="move_list();">목록으로</button>
        	</span>
            <span >
            	<!-- loingMember 일치여부 확인 후 버튼 보여주기 -->
            	<th:block th:unless="${session.loginMember.MEMBER_ID eq board['MEMBER_ID']}" >
            		<button type="button" class="btn" th:data-n="${board['BOARD_NO']}" th:onclick="|fn_boardBlame(this.getAttribute('data-n'))|" style="background:#F77B1E;color:white;border:none;">신고</button>&nbsp;&nbsp;
            	</th:block>
            	<th:block th:if="${session.loginMember.MEMBER_ID eq board['MEMBER_ID']} ">
            		<button type="button" class="btn" onsubmit="board_modify();" style="background:#247094;color:white;border:none;">수정</button>&nbsp;&nbsp;
            		<button type="button" class="btn" onclick="location.assign('/');">삭제</button>
            		<button type="button" class="btn" onclick="location.assign('/');">취소</button>
            	</th:block>
            </span>
        </div>
    </div>
    <div id="comment_container">
 	    <ul>
 	    	<th:block th:each="c:${commentList}">
    		<li>
		    	<span th:text="${c['C_NICKNAME']}"></span><span>...</span><br>
	   			<span th:text="${c['COMMENT_CONTENT']}"></span>
    		</li>
   			</th:block>
    	</ul>
    	<div>
			<input type="text" name="commentContent"/>
			<input type="submit" value="입력"/>
    	</div>
    </div>
</div>
 <!-- HOT키워드순위창 -->
 <div th:replace="/fragments/rank.html :: fragment-rank"></div>
<script th:inline="javascript">
//신고하기 버튼 => 팝업 이동 
function fn_boardBlame(no){
	var id=[[${session.loginMember.MEMBER_ID}]];
	window.open(getContextPath()+"/blame/report?type=b"+"&no="+no+"&id="+id,"","width=495px,height=530px,top=260px,left=800px");
}
$(function(){
	$(".rank").css({
		"position":"fixed",
		"top":"130px",
		"left":"1660px"
	});
	$(".profile").remove();
	$("#content").css("justify-content","normal");
})

//좋아요
function fn_changeLike(no,id,like){
	$.ajax({
		url:getContextPath()+"/board/changeLike",
		data:{
			"no":no,
			"id":id,
			"like":like,
			"type":"view"
		}
	}).done(function (fragment){
		// 알림 보내는 함수 by 희웅
		sendNoti();
		$("#content").html(fragment);
	})
}
</script>