<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/board/board_cate_list.css}">
</head>

<body>
<div id="wrapper">

    <!-- 헤더바 -->
    <div th:replace="/fragments/headerbar.html :: fragment-headerbar"></div>
    <!-- 좌측메뉴바 -->
    <div th:replace="/fragments/nav.html :: fragment-nav"></div>

    <!-- 우측콘텐츠 / 고정+변동 -->
    <div id="content">
        <!-- 프로필 -->
        <div th:replace="/fragments/profile.html :: fragment-profile"></div>

        <div class="feed">
            <!--board 리스트  -->
            <div id="board_box">
                <!-- 카테고리 : 전체 게시판-->
                <div style="text-align: center" th:text="${cName}"></div>
                <!--공지사항 나오는 곳 -->
                <div id="notice-list-title">
                    <ul name="noticeList" >
                    	<div id="notiToggle">▼</div>
                        <li th:each="n : ${notices}">
                            <span style="cursor:pointer;"th:text="'[공지] '+${n.NOTICE_TITLE}" th:data-notiNo="${n.NOTICE_NO}"th:onclick="|fn_moveBoardNotice(this.getAttribute('data-notiNo'))|"></span>
                            <span th:text="${#dates.format(n.NOTICE_DATE, 'yyyy-MM-dd')}"></span>
                        </li>
                    </ul>
                </div>

                <div class="writeBox">
                    <button type="button" onclick="goWriteForm();">글쓰기</button>
                </div>


                <!--게시글 나오게 하는 부분 -->
                <div class="bList bSpan" th:each="l:${list}">
                    <div>
                    	<span th:data-no="${l.BOARD_NO}" th:onclick="|feedToView(this.getAttribute('data-no'))|" th:text="${l.BOARD_TITLE}"></span>
                    </div>

                    <div th:text="${l.BOARD_CONTENT}"></div>
                    <img alt="썸네일" th:src="@{/images/profile/}+${l.PREVIEW_IMG}">


                    <ul>
                        <li class="tag-list" style="margin-right: auto">
                            <span>#해시태그</span>
                            <span>#해시태그</span>
                            <span>#해시태그</span>
                            <span>#해시태그</span>
                            <span>#해시태그</span>
                        </li>
                        <li th:text="${l.CNT}"><i class="gg-menu-boxed"></i></li>
                        <li>
                            <span>♥</span>
                            <span th:text="${l.LIKE_COUNT}"></span>
                        </li>
                    </ul>
                </div>
				<div id="main_pagebar">
					<div>
						<!-- 이전 -->
						<div>
							<a th:if="${pagination.currentPage} eq 1" >&lt;</a>
							<a href="#" th:unless="${pagination.currentPage} eq 1" th:onclick="|fn_cate_paging('${pagination.currentPage-1}')|">&lt;</a>
						</div>
						<!-- 페이지블록 -->
						<th:block th:each="n:${#numbers.sequence(pagination.firstPage,pagination.lastPage)}">
						<div th:if="${pagination.currentPage eq n}" style="background-color: #287094;color:white;font-size:20px;">
							<a th:onclick="|fn_cate_paging('${n}')|" th:text="${n}" >1</a>
						</div>
						
						<div th:unless="${pagination.currentPage eq n}">
							<a  href="#" th:onclick="|fn_cate_paging('${n}')|" th:text="${n}">1</a>
						</div>
						</th:block>
						<!-- 다음 -->
						<div>
							<a th:if="${pagination.totalPageCount==pagination.currentPage}">&gt;</a>
							<a href="#" th:unless="${pagination.totalPageCount==pagination.currentPage}" th:onclick="|fn_cate_paging('${pagination.currentPage+1}')|">&gt;</a>
						</div>
					</div>
		      	</div>

                <!-- 제목 / 제목+내용 검색 창 & 글쓰기 버튼-->
                <div>
                    <form action="" id="searchBox">
                        <input type="text" id="title-searchbar" name="searchbar" placeholder="- 제목 / 제목+내용">
                        <input type="submit" class="search-btn" name="search-btn" value="검색">
                    </form>
                </div>

            </div>
        </div>

        <!-- HOT키워드순위창 -->
        <div th:replace="/fragments/rank.html :: fragment-rank"></div>
</div>
</div>
</body>
<script th:src="@{/js/board/board_list_sh.js}"></script>
<script th:inline="javascript">
	//좋아요 처리
	$("span[name=likeHeart]").click(e=>{
		var boardNo=$(e.target).attr("title");
	 	var id=[[${session.loginMember.MEMBER_ID}]];
	 	var like=$(e.target).text();
	 	//카운트 바꾸기
	 	var count=Number($(e.target).next().text());
	 	
	 	if(like=='♥'){		//이미 누른상태 = >클릭했으면 좋아요취소하는거
	 		like='누름';
	 		$(e.target).next().text(count-1);
	 	}else{
	 		like='안누름';
	 		$(e.target).next().text(count+1);
	 	};
	 	
	 	//하트바꾸기
	 	if(like=='누름') $(e.target).text('♡');
	 	else $(e.target).text('♥');
	 	$.ajax({
			url:getContextPath()+"/board/changeLike",
			data:{
				"no":boardNo,
				"id":id,
				"like":like
			}
        }).done(function(fragment){
          if(like==='안누름'){
            // 알림 보내는 함수 by 희웅
            sendNoti();
          }
        })
	})
//카테고리별 ajax페이징처리
function fn_cate_paging(i){
	var cate=[[${cate}]];
	$.ajax({
		url:getContextPath()+"/board/cateAjax",
		data:{
			"cPage":i,
			"cate":cate
		}
	}).done(function(fragment){
		$("#board_box").html(fragment);
	});
};
</script>
</html>