<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link th:href="@{/css/board/board_list.css}" rel="stylesheet" type="text/css">
			<button onclick="fn_moveBoardNotice();">공지사항</button>

<!--	<div id="board_list">-->
		<div id = board-list-catebar>
			<span>종합게시판</span>
			<button type="button" class="write-btn goto-write-btn" onclick="moveTooWriteForm();">글쓰기</button>
		</div>

		<div id ="board_list-table">

				<table id = "all-boardlist-table">
					<tbody>
					<!--글 리스트 -->
					<tr th:each=" b:${oList}">

						<td colspan="3">

							<!-- 이거 ajax로 바꿔야 함.-->
							
							<a href="#" th:data-no="${b.BOARD_NO}" th:onclick="|moveToView(this.getAttribute('data-no'))|">
								<span th:text="${b.BOARD_TITLE} + '('+${b.CNT}+')'"></span>
							</a>

							<span th:text="${#dates.format(b.BOARD_DATE, 'yyyy-MM-dd')}"></span><br>

							<div class="textlimit">
								<span>
									<a href="javascript:viewBoard()" th:text="${b.BOARD_CONTENT}" th:title="${b.BOARD_NO}"></a>
								</span>
							</div>
						</td>
						<td>
							<div><img th:src="@{/../../images/ui/tag.png}" alt=""></div>
						</td>
					</tr>

					<!-- 페이지 바 -->
					<tr class="page-tr">
						<td colspan="4">
							<span>페이지바</span>
						</td>
					</tr>

					<!-- 제목 / 제목+내용 검색 창 & 글쓰기 버튼-->
					<tr>
						<td colspan="4">
							<input type="text" id="title-searchbar" name="searchbar" placeholder="- 제목 / 제목+내용">
							<input type="submit" class="search-btn" name="search-btn" value="검색">
						</td>
					</tr>
					</tbody>
				</table>

		</div>

<!--	</div>-->
