<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 게시글 작성 파트 -->


	<!-- ckeditor api 가져오는 화면 -->
	<form id = "ckeditor-form"  action="/board/insert" enctype="multipart/form-data" method="post" onsubmit="return false">
<!--		<input type="hidden" id="id" th:if="*{id != null and id > 0}" th:field="*{id}" />-->
		<table id="ckeditor-table">
			<tr>
				<th>제목</th>
				<td><input type="text" name="board-title" placeholder="제목을 입력하시오" class="input-style"></td>
			</tr>
			<tr>
				<th>카테고리</th>
				<td>
					<select name="boardCate">
						<option value="1">출산/육아/교육</option>
						<option value="2">분실물</option>
						<option value="3">일손(품앗이)</option>
						<option value="4">스터디/소모임</option>
						<option value="5">공동구매</option>
						<option value="6">자유게시판</option>
					</select>
				</td>
			</tr>
			<tr>
				<th colspan="2">내용</th>
			</tr>
			<tr>
				<td colspan="2">
					<textarea name="boardContent" id="ckeditorarea" rows = "6" cols = "115" ></textarea>
				</td>

			</tr>
			<tr>
				<th>해시태그</th>
				<td><input type="text" name="boardTag" placeholder="태그를 입력하세요(최대 10자)" class="input-style"></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" id ="ckeditor-btn" class="blue-btn" value="등록">
					<button type="button" id="btn-cancel" class="blacksolid-btn" >취소</button>
				</td>

			</tr>

		</table>
	</form>

		<!--textarea를 스마트 에디터로 변경할 것-->
		<script>
			$(document).ready(function(){
				// CKEditor API 불러오기
				// cKKEDITOR : CKEDITOR 인스턴스임.
				CKEDITOR.replace('ckeditorarea', {

					filebrowserUploadUrl : getContextPath()+'/images/ckeditor',// 업로드 버튼생성
					height : '400px',
					font_names: "맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana",
					language : "ko",
					font_defaultLabel : "맑은 고딕/Malgun Gothic",
					fontSize_defaultLabel : "12",
				});

				// 첨부파일 커스터 마이징
				// 이미지 주소로 업로드 하는 창, 이미지 사이즈 줄이기 창 없애고 걍 첨부파일만 할 수 있게
				CKEDITOR.on('dialogDefinition', function(e){
					var dialogName = e.data.name;
					var dialogDefinition = e.data.definition;


					switch (dialogName){
						case 'image':
							dialogDefinition.removeContents('Link');
							break;
					}
				})

				// CKEditor로 작성한 글  & 파일 게시 잘 되는지 확인
				// $('#ckeditor-btn').click(function(){
				// 	alert(CKEDITOR.instances.ckeditorarea.getData());
				// })

			})

		</script>

	</form>

</html>