<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/board/board_view.css}">

<div id="board_view">
<!-- 게시글 상세화면 -->
    <div id="board_container">
    	<ul>
    		<li>
    			<span style="font-size: 20px;font-weight: bold;" th:text="${board['BOARD_TITLE']}">제목</span>
    			<span th:unless="${session.loginMember.MEMBER_ID eq 'admin'}"th:title="${board['BOARD_NO']}" th:text="${#arrays.contains(likeTable,board['BOARD_NO'])}?'♥':'♡'" name="likeHeart"></span>
   			</li>
   			<li>
   				<span th:text="'작성자 : '+${board['B_WRITER']}">닉네임</span>
   				<span th:text="${#dates.format(board['BOARD_DATE'],'yyyy-MM-dd')}" style="display:inline-block;float:right;">작성일</span>
   			</li>
    		<li><span th:text="${board['BOARD_CONTENT']}">내용</span></li>
    		<li style="height:60px;">
    			<th:block th:each="t:${tagList}">
    				<span style="padding-right:3px;font-size:18px;font-weight: bold;" th:text="'#'+${t}">해시태그들</span>
    			</th:block>
    		</li>
    	</ul>
        <div >
        	<span>
        		<button  th:unless="${session.loginMember.MEMBER_ID eq 'admin'}" type="button" class="btn" th:data-bCate="${cate eq 'all'?'all':board['BOARD_CATE']}"th:onclick="move_list(this.getAttribute('data-bCate'));">목록으로</button>
        	</span>
            <span >
            	<!-- loingMember 일치여부 확인 후 버튼 보여주기 -->
            	<th:block th:unless="${session.loginMember.MEMBER_ID eq board['MEMBER_ID'] or session.loginMember.MEMBER_ID eq 'admin'}" >
            		<button type="button" class="btn" th:data-n="${board['BOARD_NO']}" th:onclick="|fn_boardBlame(this.getAttribute('data-n'))|" style="background:#F77B1E;color:white;border:none;">신고</button>&nbsp;&nbsp;
            	</th:block>
            	<th:block th:if="${session.loginMember.MEMBER_ID eq board['MEMBER_ID']} ">
            		<button type="button" class="btn" onsubmit="board_modify();" style="background:#247094;color:white;border:none;">수정</button>&nbsp;&nbsp;
            		<button type="button" class="btn" onclick="fn_board_delete('${board['BOARD_NO']}');">삭제</button>
            	</th:block>
            </span>
        </div>
    </div>
    <div id="comment_container">
 	    <ul>
 	    	<th:block th:each="c:${commentList}">
    		<li>
		    	<span th:text="${c['C_NICKNAME']}"></span><span>...</span><br>
	   			<span th:text="${c['COMMENT_CONTENT']}"></span>
    		</li>
   			</th:block>
    	</ul>
    	<div>
			<input type="text" name="commentContent"/>
			<input type="submit" value="입력"/>
    	</div>
    </div>
</div>
<th:block th:unless="${session.loginMember.MEMBER_ID eq 'admin'}">
 <!-- HOT키워드순위창 -->
 <div th:replace="/fragments/rank.html :: fragment-rank"></div>
 </th:block>
<script th:inline="javascript" th:src="@{/js/board/board_view_sh.js}"></script>
<script th:inline="javascript">
//신고하기 버튼 => 팝업 이동 
function fn_boardBlame(no){
	var id=[[${session.loginMember.MEMBER_ID}]];
	window.open(getContextPath()+"/blame/report?type=b"+"&no="+no+"&id="+id,"","width=495px,height=530px,top=260px,left=800px");
}
$(function(){
	$(".rank").css({
		"position":"fixed",
		"top":"130px",
		"left":"1660px"
	});
	$(".profile").remove();
	$("#content").css("justify-content","normal");
})

//좋아요
$("span[name=likeHeart]").click(e=>{
	var boardNo=$(e.target).attr("title");
 	var id=[[${session.loginMember.MEMBER_ID}]];
 	var like=$(e.target).text();
 	
 	if(like=='♥'){		//이미 누른상태 = >클릭했으면 좋아요취소하는거
 		like='누름';
 	}else{
 		like='안누름';
 	};

 	//하트바꾸기
 	if(like=='누름') $(e.target).text('♡');
 	else $(e.target).text('♥');
 	$.ajax({
		url:getContextPath()+"/board/changeLike",
		data:{
			"no":boardNo,
			"id":id,
			"like":like
		}
	}).done(function(fragment){
		if(like==='안누름'){
			// 알림 보내는 함수 by 희웅
			sendNoti();
		}
	})
})

</script>