<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/member/mypage.css}" rel="stylesheet" type="text/css">

    <!-- 정보 수정란 -->
    <form th:action="@{/member/updatePrivacy}" name="updatePri_form" method="post">
        <table id=privacy-info-modi>
        	<tbody>
	            <tr>
	                <th>아이디</th>
	                <td th:text="${session.loginMember.MEMBER_ID}"></td>
	            </tr>
	
	            <tr>
	                <th>비밀번호</th>
	                <td><input type="password" name="pw" class="normal-size" placeholder="8~20자의 영어소문자+숫자" /></td>
	            </tr>
	            <tr class="pwcheck">
	                <th>비밀번호 확인</th>
	                <td><input type="password" name="pwk" class="normal-size"><span id="pwCheck"></span></td>
	            </tr>
	            <tr>
	                <th>이름</th>
	                <td th:text="${session.loginMember.MEMBER_NAME}"></td>
	            </tr>
	            <tr>
	                <th>생년월일</th>
	                <td th:text="${#dates.format(session.loginMember.MEMBER_BIRTH,'yyyy-MM-dd')}"></td>
	            </tr>
	            <tr>
	                <th>이메일</th>
	                <td>
	                	<input type="email" name ="memberEmail" class="normal-size" th:value="${session.loginMember.MEMBER_EMAIL}">
	                	<input type="hidden" name="oldemail" th:value="${session.loginMember.MEMBER_EMAIL}">
	                    <button type="button" id="emailSend" style="margin-bottom:0;">인증</button>
	                </td>
	            </tr>
	            <tr class="email_number">
                    <th style="color:red;">인증번호</th>
                    <td>
                    	<input type="text" class="normal-size" name="emk"><span id="emailCheck"></span>
                    	<input type="hidden" name="checked_emailNumber" value="">
                    </td>
                </tr>
	            <tr>
	                <th>위치인증</th>
	                <td>
	                	<input type="text" name="memberLoc" class="normal-size"  th:value="${session.loginMember.MEMBER_LOC}" readonly>
	                    <button type="button" id="findLocation" style="margin-bottom:0;">인증</button>
	                </td>
	            </tr>
	            <tr>
	                <td colspan="2">
                    	<button type="submit" class="btn_submit" id="pwBtn">수정</button>
               			<button type="button" onclick="goMain();">취소</button>
                    </td>
	            </tr>
        	</tbody>
        </table>
    </form>

</body>

<script th:src="@{/js/member/membermodi_jh.js}"></script>
</html>