<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/member/modiprivacy_jh.css}" rel="stylesheet" type="text/css">

    <!-- 정보 수정란 -->
    <form>
        <table id=privacy-info-modi>
        	<tbody>
	            <tr>
	                <th>아이디</th>
	                <td th:text="${session.loginMember.MEMBER_ID}"></td>
	            </tr>
	
	            <tr>
	                <th id="pw-modi">비밀번호</th>
	                <td><input type="password" name="pw" class="normal-size" value=""></td>
	            </tr>
	            <tr>
	                <th id="pwcheck-modi">비밀번호 확인</th>
	                <td>
	                    <input type="password" class="normal-size" value="">
	                    <span id="alert-success" style="display: none;">비밀번호가 일치합니다.</span>
	                    <span id="alert-danger" style="display: none; color: #d92742; font-weight: bold; ">비밀번호가 일치하지 않습니다.</span>
	
	                </td>
	            </tr>
	            <tr>
	                <th>이름</th>
	                <td th:text="${session.loginMember.MEMBER_NAME}"></td>
	            </tr>
	            <tr>
	                <th>생년월일</th>
	                <td th:text="${#dates.format(session.loginMember.MEMBER_BIRTH,'yyyy-MM-dd')}"></td>
	            </tr>
	            <tr>
	                <th>이메일</th>
	                <td><input type="email" name = "email" class="normal-size"  value="kimjihan">
	                    <input type="button" class="blue-btn" value="인증"></td>
	            </tr>
	            <tr>
	                <th>위치인증</th>
	                <td><input type="text" name="loc" class="normal-size"  value="위치인증" >
	                    <input type="button" class="blue-btn" value="인증"></td>
	            </tr>
	            <tr>
	                <td colspan="2">
	                    	<button type="submit" class="btn_submit" id="pwBtn">수정</button>
	               			<button type="button" onclick="back();">취소</button>
                    	</td>
	            </tr>
        	</tbody>
        </table>
    </form>

</body>

<script th:src="@{/js/member/membermodi_jh.js}"></script>
</html>