<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/member/modiprofile_jh.css}" rel="stylesheet" type="text/css">

    <!-- 우측콘텐츠 / 고정+변동 -->
    <div id = "modi-wrapper">
        <div id="info-bar">

            <!--정보수정 카테고리-->
            <ul class="findtab">
                <li class="tab_on" data-tab="tab1">프로필 정보</li>
                <li data-tab="tab2">개인 정보</button></li>
            </ul>

            <!-- 우측 아이콘 : 채팅 , 쪽지, 해시태그, 내가 쓴 글-->
            <ul class="right">
                <li><div><img src="/../../images/ui/write.png" alt="" ></div></li>
                <li><div><img src="/../../images/ui/tag.png" alt="" ></div></li>
                <li><div><img src="/../../images/ui/msg.png" alt="" onclick="messageBox();"></div></li>
                <li><div><img src="/../../images/ui/chat.png" alt="" onclick="moveChatList();"></div></li>
            </ul>
        </div>

        <!-- 정보 수정란 -->
        <div id = "info-modi">
            <form action="/member/modiprofile" method="post" enctype="multipart/form-data">
                <table>
                    <tbody>
                    <tr>
                        <th>닉네임</th>
                        <td>
                            <input type="hidden" name="memberId" value="text">
                            <input type="text" class="normal-size" name="nick" value="">
                        </td>
                    </tr>
                    <tr>
                        <th>자기소개</th>
                        <td><textarea name="intro" cols="50" rows="5" placeholder="30자 이내로 멋진 자기소개를 해보아요!"></textarea></td>
                    </tr>
                    <tr>
                        <th>프로필사진</th>
                        <td class="profile-container">
                            <div class="profile-img">
                                <img id = "img" alt="">
                            </div>
                            <div class="profile-txt">
                                <p>
                                    프로필 이미지는<br>
                                    가로 161px 섬네일로 생성됩니다.
                                </p>

                                <label id="label-btn" class="input-file" for="input-file">
                                    등록
                                    <input type="file" id="input-file" name="inputfile" accept=".jpg,.jpeg,.png,.gif,.bmp" style="display: none;">
                                </label>
                                <input type="button" id="delete-file" name="delete-file" class="blacksolid-btn" value="삭제">
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="2">
	                    	<button type="submit" class="btn_submit">수정</button>
	               			<button type="button" onclick="back();">취소</button>
                    	</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

</body>

<script th:src="@{/js/member/membermodi_jh.js}"></script>

</html>