<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div id="mylike-whole-content">
    <div id ="mylike-content">
        <!-- 글 카테고리 -->
        <div id="like-bar">
            <ul>
                <li><img th:src="@{/images/ui/like.png}" ></li>
                <li><button class="mywrite-btn" onclick="barmywrite();">내가 쓴 글</button></li>
                <li><button class="mycomment-btn" onclick="mycomment();">내가 쓴 댓글</button></li>
                <li><button class="mylike-btn" >내가 찜한 글</button></li>
                <!--                        <li><img src="/../../images/mywrite/heart.png"></li>-->
            </ul>
        </div>

        <!--찜 리스트-->
        <div id="like-list">
            <table>
                <thead>
                    <th>작성자</th>
                    <th>게시판</th>
                    <th>제목(댓글수)</th>
                    <th>날짜</th>
                </thead>

                <tbody>
                    <tr th:each=" l : ${list}">
                        <td th:text="${l.MEMBER_NICKNAME}"></td>
                        <td th:text = "${l.CATEGORY_NAME}"></td>
                        <td th:text="${l.BOARD_TITLE}+'('+${l.CNT}+')'"></td>
                        <td th:text="${#dates.format(l.BOARD_DATE, 'yyyy-MM-dd')}"></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>


