<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <!-- css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/mypage.css}">
</head>

<body>
<div id="wrapper">

    <!-- 헤더바 -->
    <div th:replace="/fragments/headerbar.html :: fragment-headerbar"></div>
    <!-- 좌측메뉴바 -->
    <div th:replace="/fragments/nav.html :: fragment-nav"></div>

    <!-- 우측콘텐츠 / 고정+변동 -->
    <div id="content">

    <!-- 우측콘텐츠 / 고정+변동 -->
    <div id = "modi-wrapper">
        <div id="info-bar">

            <!--정보수정 카테고리-->
            <ul class="findtab">
                <li class="tab_on" data-tab="tab1">프로필 정보</li>
                <li data-tab="tab2">개인 정보</button></li>
            </ul>

            <!-- 우측 아이콘 : 채팅 , 쪽지, 해시태그, 내가 쓴 글-->
            <ul class="right">
                <li><img th:src="@{/images/ui/write.png}" alt="mywrite_ui" onclick="mywrite();"></li>
                <li><img th:src="@{/images/ui/tag.png}" alt="mytag_ui" onclick="moveMyTagPage();"></li>
                <li><img th:src="@{/images/ui/msg.png}" alt="mymsg_ui" onclick="messageBox();"></li>
                <li><img th:src="@{/images/ui/chat.png}" alt="mychat_ui" onclick="moveChatList();"></li>
            </ul>
        </div>

        <!-- 정보 수정란 -->
        <div id = "info-modi">
            <form th:action="@{/member/updateProfile}" name="updatePro_form" method="post" enctype="multipart/form-data">
                <table>
                    <tbody>
                    <tr>
                        <th>닉네임</th>
                        <td th:text="${session.loginMember.MEMBER_NICKNAME}"></td>
                       	<input type="hidden" th:value="${session.loginMember.MEMBER_ID}" name="id">
                    </tr>
                    <tr>
                        <th>자기소개</th>
                        <td>
                        	<textarea th:if="${session.loginMember.INTRO}!=null" name="intro" cols="40" rows="3" th:text="${session.loginMember.INTRO}"></textarea>
                        	<div th:if="${session.loginMember.INTRO}!=null" id="intro_cnt"></div>
                        	<textarea th:unless="${session.loginMember.INTRO}!=null" name="intro" cols="40" rows="3" placeholder="30자 이내로 멋진 자기소개를 해보아요!"></textarea>
                       		<div th:unless="${session.loginMember.INTRO}!=null" id="intro_cnt"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>프로필사진</th>
                        <td class="profile-container">
                            <div class="profile-img">
                                <img th:src="@{/images/profile/}+${session.loginMember.MEMBER_IMG}" alt="프로필이미지">
                            </div>
                            <div class="profile-txt">
                                <p>
                                    프로필 이미지는<br>
                                    200*200px 섬네일로 생성됩니다.
                                </p>
                                <label class="input-file" for="input-file">
                                    등록<input type="file" id="input-file" name="input_file" accept=".jpg,.jpeg,.png,.bmp">
                                </label>
                                <label for="delete-file">
                                	삭제<input type="button" id="delete-file" name="delete_file">
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="2">
	                    	<button type="button" class="btn_submit">수정</button>
	               			<button type="button" onclick="goMain();">취소</button>
                    	</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

</body>

<script th:src="@{/js/member/membermodi_jh.js}"></script>

</html>