<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- CSS -->
    <link th:href="@{/css/main/main_style_jk.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/member/member_jh.css}" rel="stylesheet" type="text/css">

    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <title>mywrite</title>
</head>

<body>
    <div id = "wrapper">
        <!--헤더-->
        <div th:replace="/fragments/header.html :: fragment-header"></div>
        <!--메뉴바-->
        <div th:replace="/fragments/nav.html :: fragment-nav"></div>
        <!--프로필 영역-->
        <div th:replace="/fragments/profile.html :: fragment-profile"></div>

        <!-- 내가 쓴 글 / 댓글 / 찜한 글 리스트 보여주기  -->
        <div id="mywrite-container">
            <div class="mywrite-bar">
                <span class="">내가 쓴 글</span>
                <span class="mywrite-category">내가 쓴 댓글</span>
                <span class="mywrite-category">내가 찜한 글</span>
            </div>
        </div>


        <!--순위 차트-->
        <div th:replace="/fragments/rank.html :: fragment-rank"></div>


    </div>
</body>

<!-- 스크립트 -->
<script>
    $(document).ready(function(){

        // 좌측메뉴바 show/hide 스크립트
        $('.menu_open').on('click', function(){
            $('.city_bar').show().animate({
                left:0
            });
        });
        $('.city_bar>button').on('click', function(){
            $('.city_bar').show().animate({
                left:-300
            });
        });

        // main피드 작성시 textarea 영역 변동 스크립트
        $('.feed_write>textarea').keyup(function(e) {
            $(this).css('height','auto');
            $(this).height(this.scrollHeight);
        });

    });


</script>
</html>


