<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- CSS -->
    <link th:href="@{/css/main/main_jk.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/member/mywrite_jh.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/member/mylike_jh.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/member/mycomment_jh.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/board/board_form.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/board/board_list.css}" rel="stylesheet" type="text/css">

    <div th:replace="/fragments/headerbar.html :: fragment-headerbar"></div>

</head>
<body>
    <div id = "wrapper">
        <!--헤더-->
        <div th:replace="/fragments/header.html :: fragment-header"></div>
        <!--메뉴바-->
        <div th:replace="/fragments/nav.html :: fragment-nav"></div>

        <div id="content">
            <!--프로필 영역 -->
            <div th:replace="/fragments/profile.html :: fragment-profile" id="profileBox"></div>

            <div class="feed" style="height:1000px">
                <div id = "mywrite-whole-content">
                    <div id ="mywrite-content">
                        <!-- 글 카테고리 -->
                        <div id="write-bar">

                            <ul>
                                <li><button class="mywrite-btn">내가 쓴 글</button></li>
                                <li><button onclick="mycomment();">내가 쓴 댓글</button></li>
                                <li><button onclick="mylike();">내가 찜한 글</button></li>

                            </ul>
                        </div>

                        <!--글 리스트-->
                        <div id="write-list">
                            <table>
                                <thead>
                                <th>게시판</th>
                                <th>제목</th>
                                <th>날짜</th>
                                </thead>

                                <tbody class="write-tbody">
                                    <tr th:each="l:${list}" class="write-tr">
                                        <td th:text="${l.CATEGORY_NAME}"></td>
                                        <td th:data-no="${l.BOARD_NO}" th:onclick="|allToView(this.getAttribute('data-no'))|"th:text="${l.BOARD_TITLE}+'('+${l.COMMENTS_COUNT}+')'"></td>
                                        <td th:text="${#dates.format(l.BOARD_DATE, 'yyyy-MM-dd')}"></td>

                                    </tr>


                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 키워드 순위 -->
            <div th:replace="/fragments/rank.html :: fragment-rank" ></div>
        </div>
    </div>


</body>

<script th:src="@{/js/main/main_js_jk.js}"></script>
<script th:src="@{/js/board/board_list_sh.js}"></script>
<script th:src="@{/js/member/mywrite_jh.js}"></script>
<script th:src="@{/js/ckeditor/ckeditor.js}"></script>

</html>