<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <div id="room-container" th:fragment="chatroomList">
<!--      채팅방 리스트 css-->
      <link rel="stylesheet" type="text/css" th:href="@{/css/chatting/chatroom-list.css}">

    <div class="room-menu">
      <div>
        <select class="select-chatroom-status" onchange="chatTypeChange();">
            <option value="allChatroom">전체</option>
            <option value="ing">모집중</option>
          <option value="end">모집마감</option>
        </select>
      </div>
      <div>
        <form onsubmit="return createChatroom()">
          <input type="submit" value="채팅방 만들기" id="make-chatroom-btn"> 
        </form>
      </div>
    </div>
    <div class="chatroom-list-container">
        <div>
            현재 개설된 채팅방이 없습니다. 채팅방을 만들어 주세요.
        </div>
    </div>

  </div>