<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/board/board_cate_list.css}">
</head>

<body>
<div id="wrapper">

    <!-- 헤더바 -->
    <div th:replace="/fragments/headerbar.html :: fragment-headerbar"></div>
    <!-- 좌측메뉴바 -->
    <div th:replace="/fragments/nav.html :: fragment-nav"></div>

    <!-- 우측콘텐츠 / 고정+변동 -->
    <div id="content">

        <!-- 프로필 -->
        <div th:replace="/fragments/profile.html :: fragment-profile"></div>

        <!-- main 피드 -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/search/search_content.css}">

        <div class="feed">
            <!--board 리스트  -->
            <div id="board_box">
                <!-- 카테고리 : 전체 게시판-->
                <div style="text-align: center" th:text="${cName}"></div>
                <!--공지사항 나오는 곳 -->
                <div id="notice-list-title">
                    <ul name="noticeList" >
                    	<div id="notiToggle">▼</div>
                        <li th:each="n : ${notices}">
                            <span style="cursor:pointer;"th:text="'[공지] '+${n.NOTICE_TITLE}" th:data-notiNo="${n.NOTICE_NO}"th:onclick="|fn_moveBoardNotice(this.getAttribute('data-notiNo'))|"></span>
                            <span th:text="${#dates.format(n.NOTICE_DATE, 'yyyy-MM-dd')}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- HOT키워드순위창 -->
        <div th:replace="/fragments/rank.html :: fragment-rank"></div>

    </div>
</div>
</body>
<script th:src="@{/js/popuprank/popuprank_js_hu.js}"></script>
<script th:src="@{/js/hashtag/hash_create_main_js_hu.js}"></script>
<script th:src="@{/js/main/noti_js_hu.js}"></script>
<script th:src="@{/js/member/membermodi_jh.js}"></script>
<script th:src="@{/js/member/mywrite_jh.js}"></script>
<script th:src="@{/js/search/search_js_sh.js}"></script>
<script th:src="@{/js/board/board_view_sh.js}"></script>
<script th:src="@{/js/board/boardForm_jh.js}"></script>
<script th:src="@{/js/message/message_js_sh.js}"></script>
<script>
    $(function(){
      moveChatList();

    //3번째 공지부턴 숨기기
      $(function(){
      	$("[name=noticeList]>li:eq(1)").nextAll().hide();

      })
      //공지사항 토글하기 
      $("#notiToggle").click(e=>{
       	if($("[name=noticeList]>li:eq(1)").nextAll().is(":visible") ){
              $("[name=noticeList]>li:eq(1)").nextAll().slideUp();
              $(e.target).text("▼");
          }else{
              $("[name=noticeList]>li:eq(1)").nextAll().slideDown();
      		$(e.target).text("▲");
          }
      	
      })

    });
    
  //소모임게시판에서 공지사항 들어가기
    function fn_moveBoardNotice(no){
    	$.ajax({
    		url:getContextPath()+"/board/boardNotice",
    		data:{
    			"no":no,
    			"cate":[[${cate}]]
    		}
    	}).done(function (fragment){
    		$("#content").html(fragment);
    	})
    }
</script>
</html>