<!DOCTYPE html >
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <div id="chatroom-container" th:fragment="chatroomlist-detail">
      <!--    채팅방 리스트 세부-->
    <div class="chatroom-header">
      <div>
        <span class="chatroom-icon">
          스터디
        </span>
      </div>
      <div>
        제목 / 날짜
      </div>
      <div><span>...</span><div class="chatroom-submenu"><div><span class="interested-chatroom">관심 채팅방에 추가</span></div><div><span class="blame-chatroom">신고하기</span></div></div></div>
    </div>
    <div class="chatroom-nav">
      <div class="chatroom-status">
        모집 중
      </div>
      <div class="chatroom-maker">
        <span>모임장 : </span>
        <span>체어킹</span>
      </div>
    </div>
    <div class="chatroom-content">
      <div>
        ㅎㅇ
      </div>
    </div>
    <div class="chatroom-const">
      <div>
          <span><img style="width:25px; height: 25px;"></span> 
          <!-- 참여인원 수  -->
          <span> 1 </span>
          <span> / </span>
          <!-- 전체인원수 -->
          <span> 10명</span>
      </div>
      <div>
        <span><img style="width:25px; height: 25px;"></span> 
        <span>
          제한사항
        </span>
      </div>
    </div>

    <div class="enter-btn">
      <div>
        <form onsubmit="return goChatroom();">
          <input type="submit" value="참여하기">
        </form>
      </div>
    </div>
  </div>
</html>