<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/css/chatting/create-chatroom.css}">
  <div id="create-chatroom-container" th:fragment="createChatroom">
    <div class="create-room-selector">
        <!-- js로 체크 여부 확인해야함 -->
        <span><input type="radio" value="stu" name="select-cate">스터디</span>
        <span><input type="radio" value="team" name="select-cate">소모임</span>
    </div>
  
    <div>
      <input type="text" class="chatroom-title" placeholder="제목을 입력해주세요" required>
    </div>
    
    <div>
      <textarea class="chatroom-content" placeholder="내용을 입력해주세요"
      style="resize: none;"required></textarea>
    </div>
    
    <div>
      <textarea class="chatroom-condition" placeholder="원하는 조건을 입력해주세요" style="resize: none;"></textarea>
    </div>

    <div>
      <div>참여인원 수</div>
      <div>
        <span class="decrease-mem">&nbsp;-</span>
        <span class="memCount">1</span>
        <span class="increase-mem">+&nbsp;</span>
      </div>
    </div>

    <div>
      <div>모임 날짜</div>
      <div>
        <input type="date" class="gather-date">
      </div>
    </div>

    <div>
      <div>
        <form onsubmit="return sendChatroomData(chatroomData());">
          <button type="submit" class="send-btn">만들기</button>
        </form>
      </div>
      <div>
        <button class="send-btn">취소</button>
      </div>
    </div>
    <input type="hidden" th:value="${memberId}" id="memberId">

  </div>