<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <div id="chatlist-container" th:fragment="myChatroomList">
    <link rel="stylesheet" type="text/css" th:href="@{/css/chatting/my-chattingList.css}">
    <div class="chat-title">
      채팅창
    </div>
    <div class="my-chat-list-status">
      <span class="joined-chatroom">
        참여중인 채팅방
      </span>
      <span>ㅣ</span>
      <span class="interested-chatroom">
        관심 채팅방
      </span>
    </div>
    <div id="chatroom-list">
      <ul>
        <li class="chatroom">
          <!-- 스터디 or 동호회 -->
          <div></div>
          <div id="nochatroom">
            참여중인 채팅방이 없습니다.
          </div>
        </li>
      </ul>
    </div>
  </div>
</html>