/* 글꼴 - 나눔고딕(googlefonts) */
/* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* 사용색상 */
/* 청록색 - #287094 , 주황색 - #F77B1E */

/* 화면기본설정 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
div#signup_wrapper {
    width: 1920px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
}

/* termsOfService.html css - 이용약관 */
div#signup_wrapper>img {
    width: 270px;
    margin-bottom: 30px;
}
div#signup_content {
    width: 576px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px lightgray;
    background: white;
    padding: 30px 70px;
}
div#signup_content label {
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    margin-left: 5px;
}
div#signup_content input {
    outline: none;
}
ul.terms_list>li:first-child {
    margin-bottom: 30px;
}
ul.terms_list>li:first-child label {
    text-decoration: underline;
    text-underline-position: under;
}
ul.terms_list>li:first-child span {
    padding-left: 22px;
}
ul.terms_list>li {
    margin-bottom: 15px;
}
ul.terms_list>li>input {
    margin-bottom: 10px;
}
ul.terms_list>li>div {
    height: 70px;
    padding: 10px;
    font-size: 13px;
    line-height: 20px;
    border: 1px solid lightgray;
    overflow-y: scroll;
}
div.terms_btn {
    display: flex;
    justify-content: space-evenly;
}
div.terms_btn button {
    width: 45%;
    height: 40px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
}
.button_able {
    color: white;
    background: #287094;
    border: none;
}

/* signup.html css - 회원가입 */
form#signUp {
    display: flex;
    flex-direction: column;
}
table.signup_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table.signup_table th {
    width: 28%;
    text-align: right;
    padding-right: 10px;
    font-size: 15px;
}
table.signup_table tr>td:first-of-type {
    width: 50%;
    height: 50px;
}
table.signup_table tr>td:first-of-type>input {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #f7f7f7;
    padding-left: 15px;
}
table.signup_table tr>td:last-of-type {
    padding-left: 3%;
}
table.signup_table tr>td:last-of-type>button {
    width: 60%;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #287094;
    color: white;
}
span.red_star {
    color: rgb(216, 4, 4);
    font-size: 13px;
}
form#signUp hr {
    border: 1px solid #f7f7f7;
}
form#signUp hr:last-of-type {
    margin-bottom: 20px;
}
div#signup_keyword {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
}
div#signup_keyword>p {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
div#signup_keyword>label {
    width: 25%;
    font-weight: normal;
    padding-left: 20px;
    
}
div.signup_btn {
    display: flex;
    justify-content: space-evenly;
}
div.signup_btn button {
    width: 45%;
    height: 40px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    margin: 10px 0;
}