<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 관리자 메뉴바> -->
<nav th:fragment="admin_nav">
    <div id="admin_menu">
        <div id="admin_profile">
            <img th:src="@{/images/admin/admin.jpg}" width="150px" height="150px">
            <br>
            <br>
            <br>
            <span>POOM 관리자님, 환영합니다.</span>
        </div>
        <ul>
            <li th:onclick="location.assign('@{/admin/notice');">
            	<img th:src="@{/images/admin/notice.png}" >공지사항관리
            </li>
            <li th:onclick="location.assign('@{/blame}');">
            	<img th:src="@{/images/admin/siren.PNG}" >신고관리
                <ul id="blame_menu" style="display:none">
                    <li>신고된 게시글</li>
                    <li>신고된 댓글</li>
                    <li>신고된 채팅</li>
                    <li>정지된 회원관리</li>
                </ul>
            </li>
            <li th:onclick="location.assign('@{/payAdmin');">
            	<img th:src="@{/images/admin/pay.png}" >결제관리
            	</li>
        </ul>
    </div>

</nav>
</html>