<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 헤더영역 / 고정 -->
<div id="header" th:fragment="fragment-headerbar">
    <div class="logo"></div>
    <div class="search_bar">
        <input type="text" placeholder="#품 #지역기반커뮤니티 #무엇이든 검색하세요!">
        <button>go</button>
    </div>
    <ul class="header_ui">
        <li class="noti_icon">
            <div id="modal" class="modal-overlay" style="display: none">
                <div class="modal-window" id="modal-window" >
                    <div class="modal-title">
                        <span class="noti-info-alarm">알림창</span>
                        <span class="noti-info-message">쪽지함</span>
                    </div>
                    <div class="modal-content-list">
                        <div class="noti-content-box">
                            <div class="noti-img">이미지</div>
                            <div class="noti-detail"><a th:href="@{'/'}">내용</a></div>
                        </div>
                        <div class="noti-content-box">
                            <div class="noti-img">이미지</div>
                            <div class="noti-detail"><a th:href="@{'/'}">내용</a></div>
                        </div>
                        <div class="noti-content-box">
                            <div class="noti-img">이미지</div>
                            <div class="noti-detail"><a th:href="@{'/'}">내용</a></div>
                        </div>
                        <div class="noti-content-box">
                            <div class="noti-img">이미지</div>
                            <div class="noti-detail"><a th:href="@{'/'}">내용</a></div>
                        </div>
                        <div class="noti-content-box">
                            <div class="noti-img">이미지</div>
                            <div class="noti-detail"><a th:href="@{'/'}">내용</a></div>
                        </div>
                        <div class="noti-content-box">
                            <div class="noti-img">이미지</div>
                            <div class="noti-detail"><a th:href="@{'/'}">내용</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li></li>
        <li></li>
    </ul>
</div>
        
</html>