<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 헤더영역 / 고정 -->
<div id="header" th:fragment="fragment-headerbar">
    <div class="logo"></div>
    <form id="searchFrm" method="POST" >
    <div class="search_bar">
        <input type="text" name="uInput" id="uInput" placeholder="#품 #지역기반커뮤니티 #무엇이든 검색하세요!">
        <button id="searchgo" type="button" onclick="searchList()">go</button>
    </div>
    </form>
    <ul class="header_ui">
        <li class="noti_icon">
            <div id="modal" class="modal-overlay" style="display: none">
                <div class="modal-window" id="modal-window" >
                    <div class="modal-title">
                        <div class="noti-info-alarm">알림함</div>
                        <div class="noti-info-message">쪽지함</div>
                    </div>
                    <div class="modal-content-list">
                    </div>
                </div>
            </div>
        </li>
        <li onclick="mypage();"></li>
        <li onclick="logOut();"></li>
    </ul>
</div>
        
</html>
