<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 좌측메뉴바 / 고정 -->
<div id="nav" th:fragment="fragment-nav">
    <button class="menu_open">click!</button>
    <p th:text="${session.loginMember.MEMBER_LOC}"></p>
    <ul>
        <li><a th:href="@{/board/all}"># 전체글</a></li>
        <li><a th:href="@{/board/cateList(cate=1)}"># 출산,육아,교육</a></li>
        <li><a th:href="@{/board/cateList(cate=2)}"># 분실물</a></li>
        <li><a th:href="@{/board/cateList(cate=3)}"># 일손(품앗이)</a></li>
        <li><a th:href="@{/board/cateList(cate=)}"># 스터디,소모임</a></li>
        <li><a th:href="@{/board/cateList(cate=5)}"># 공동구매</a></li>
        <li><a th:href="@{/board/cateList(cate=6)}"># 자유게시판</a></li>
    </ul>

    <!-- 좌측상단 click!시 나타나는 창 -->
    <div class="city_bar">
        <button class="menu_close">X</button>
        <ul>
            <li><a href="#"># 전국</a></li>
            <li><a href="#"># 서울</a></li>
            <li><a href="#"># 경기</a></li>
            <li><a href="#"># 인천</a></li>
            <li><a href="#"># 대전</a></li>
            <li><a href="#"># 대구</a></li>
            <li><a href="#"># 부산</a></li>
            <li><a href="#"># 울산</a></li>
            <li><a href="#"># 광주</a></li>
            <li><a href="#"># 세종</a></li>
            <li><a href="#"># 강원도</a></li>
            <li><a href="#"># 충청도</a></li>
            <li><a href="#"># 경상도</a></li>
            <li><a href="#"># 전라도</a></li>
            <li><a href="#"># 제주도</a></li>
        </ul>
    </div>
</div>
</html>