<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 좌측메뉴바 / 고정 -->
<div id="nav" th:fragment="fragment-nav">
    <button class="menu_open">click!</button>
    <p th:text="${session.loginMember.MEMBER_LOC}"></p>
    <ul>
        <li><a th:href="@{/board/all}"># 전체글</a></li>
        <li><a th:href="@{/board/cateList(cate=1)}"># 출산,육아,교육</a></li>
        <li><a th:href="@{/board/cateList(cate=2)}"># 분실물</a></li>
        <li><a th:href="@{/board/cateList(cate=3)}"># 일손(품앗이)</a></li>
        <li><a th:href="@{/chat/main}"># 스터디,소모임</a></li>
        <li><a th:href="@{/board/cateList(cate=5)}"># 공동구매</a></li>
        <li><a th:href="@{/board/cateList(cate=6)}"># 자유게시판</a></li>
    </ul>

    <!-- 좌측상단 click!시 나타나는 창 -->
    <div class="city_bar">
        <button class="menu_close">X</button>
        <p th:text="${session.loginMember.PAY_LEVEL}" style="display:none">
        <ul>
            <li><a onclick="pay_check('전국');"># 전국</a></li>
            <li><a onclick="pay_check('서울');"># 서울</a></li>
            <li><a onclick="pay_check('경기');"># 경기</a></li>
            <li><a onclick="pay_check('인천');"># 인천</a></li>
            <li><a onclick="pay_check('대전');"># 대전</a></li>
            <li><a onclick="pay_check('대구');"># 대구</a></li>
            <li><a onclick="pay_check('부산');"># 부산</a></li>
            <li><a onclick="pay_check('울산');"># 울산</a></li>
            <li><a onclick="pay_check('광주');"># 광주</a></li>
            <li><a onclick="pay_check('세종');"># 세종</a></li>
            <li><a onclick="pay_check('강원');"># 강원</a></li>
            <li><a onclick="pay_check('충청');"># 충청</a></li>
            <li><a onclick="pay_check('경상');"># 경상</a></li>
            <li><a onclick="pay_check('전라');"># 전라</a></li>
            <li><a onclick="pay_check('제주');"># 제주</a></li>
        </ul>
    </div>
</div>

</html>