<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 프로필 -->
<div class="profile" th:fragment="fragment-profile">
    <img th:src="${@environment.getProperty('profilePath')}+${session.loginMember.MEMBER_IMG}" alt="profile_img">
    <p th:text="${session.loginMember.MEMBER_NICKNAME}" id="loginMember_id"></p>
    <div class="introduce">
		<p th:if="${session.loginMember.INTRO!=null}" th:text="${session.loginMember.INTRO}"></p>
	    <p th:unless="${session.loginMember.INTRO!=null}">edit 버튼을 클릭해 자기소개를 입력해주세요.</p>
	    <button class="edit-btn" onclick="mypage();">edit</button>
    </div>

    <p>
        <span><img th:src="@{/images/ui/write.png}" alt="mywrite_ui" onclick="mywrite();"></span>
        <span><img th:src="@{/images/ui/tag.png}" alt="mytag_ui" onclick="moveMyTagPage();"></span>
        <span><img th:src="@{/images/ui/msg.png}" alt="mymsg_ui" onclick="messageBox();"></span>
        <span><img th:src="@{/images/ui/chat.png}" alt="mychat_ui" class="chat-icon" onclick="moveMyChatList();"></span>
    </p>
</div>

</html>