<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 프로필 -->
<div class="profile" th:fragment="fragment-profile">
    <img th:src="@{/images/profile/chairking.jpg}" alt="">
    <p>체어킹킹킹</p>
    <p>
        안녕하세요.<br>
        간단한 자기소개를 해주세용!<br>
        <button class="edit-btn" onclick="membermodi();">edit</button>

    </p>

    <p>
        <span><img src="/../../images/ui/write.png" alt="" onclick="mywrite();"></span>
        <span><img src="/../../images/ui/tag.png" alt="" ></span>
        <span><img src="/../../images/ui/msg.png" alt="" onclick="messageBox();"></span>
        <span><img src="/../../images/ui/chat.png" alt="" class="chat-icon" onclick="moveMyChatList();"></span>
    </p>
</div>

</html>