@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 팝업창 */
.popup_container{
    z-index: 9999;
    width: 310px;
    height: 460px;
}

/* 순위 표시부분 */
.popup{
    border:1px solid black;
    width:300px;
    height:450px;
    text-align:center;
}
/* 팝업창 제목 */
.popup>div:first-child{
    font-weight:bold;
    font-size:40px;
    margin:20px;
}
/* 1등한 유저 */
.popup>div:nth-child(2){
    margin-bottom:20px;
    height:194px;
}
.popup div:nth-child(2) div{
    width:141px; height:141px;
    
    border:5px solid black;
    border-radius:74px;

    background-size: cover;

    position:absolute;
    left:74.5px;
}

/* 나머지 유저 */
.popup>div:nth-child(2)~div{
    display: grid;
    grid-template-columns: 30px 90px 120px 60px;
    cursor: pointer;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 15px;
}

/* 일주일간 보지않기/닫기 */
.popup_visible{
    display:block;
    text-align: right;
    /* width:300px; */
    width:292px; height:20px;
    padding-right:10px;
    background-color: black; color:white;
    font-size:10px;
    padding-top:3px;
}
.popup_visible>*{
    cursor:pointer;
}
input{
    margin:0; padding:0;
    vertical-align: -3px;
}
