<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
	<!-- css -->
	<link th:href="@{/css/login/findresult_jk.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="dupleCheck_wrapper">
		
		<div th:if="${m}!=null">
		
			<div th:if="${type}==id" class="idfind">
				<p>회원님의 아이디는 <span th:text="${m}"></span> 입니다.</p>
		        <div>
		        	<button onclick="goIndex();">로그인</button>
		        	<button onclick="window.close();">닫기</button>
		        </div>
			</div>
	        
	        <div th:unless="${type}==id" class="pwfind">
	        	<form th:action="@{/login/updatePw}" name="updatePw_form" method="post">
		        	<table>
		        		<input type="hidden" name="memberId" th:value="${m.MEMBER_ID}">
		        		<input type="hidden" name="memberName" th:value="${m.MEMBER_NAME}">
				        <tr>
			                <th>비밀번호<span class="red_star">*</span></th>
			                <td><input type="password" name="memberPw" placeholder="8~20자의 영어소문자+숫자" /></td>
			                <td></td>
			            </tr>
			            <tr>
			                <th>비밀번호확인<span class="red_star">*</span></th>
			                <td><input type="password" name="pwc" onkeyup="enterPw();" /><span id="pwCheck"></td>
			                <td></td>
			            </tr>
			        </table>
	        		<button type="button" onclick="updatePw();">확인</button>
	        	</form>
	        </div>
	    
	    </div>
	    
	    <div th:unless="${m}!=null" class="nullfind">
			<p>해당하는 회원정보가 없습니다.</p>
			<div>
	        	<button onclick="goSignUp();">회원가입</button>
	        	<button onclick="window.close();">닫기</button>
	        </div>
        </div>
	
    </div>
</body>

<script th:src="@{/js/login/findresult_js_jk.js}"></script>

</html>