<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
	<!-- css -->
	<link th:href="@{/css/login/findresult_jk.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="dupleCheck_wrapper">
		
		<div th:if="${m}!=null">
		
			<div th:if="${type}==id" class="idfind">
				<p>회원님의 아이디는 <span th:text="${m.get('MEMBER_ID')}"></span> 입니다.</p>
		        <div>
		        	<button>로그인</button>
		        	<button>비밀번호찾기</button>
		        </div>
			</div>
	        
	        <div th:unless="${type}==id" class="pwfind">
	        	<input type=password>새비밀번호
	        	<input type=password>새비밀번호 확인
	        	<button>확인</button>
	        </div>
	    
	    </div>
	    
	    <div th:unless="${m}!=null" class="nullfind">
			<p>해당하는 회원정보가 없습니다.</p>
			<div>
	        	<button>회원가입</button>
	        	<button>취소</button>
	        </div>
        </div>
	
    </div>
</body>
</html>