<!DOCTYPE html>
<html lang="en">
<head>
	<div th:replace="/fragments/header.html :: fragment-header"></div>
	<!-- css -->
	<link th:href="@{/css/login/signup_jk.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="signup_wrapper">
        <img th:src="@{/images/ui/logo.png}" alt="poom로고">
        <div id="signup_content">
            <form th:action="@{/login/memberEnroll}" method="post" id="signUp" name=signUp_form>
                <table class="signup_table">
                    <tr>
                        <th>아이디<span class="red_star">*</span></th>
                        <td>
                        	<input type="text" name="memberId" placeholder="4~15자의 영어소문자+숫자">
                        	<input type="hidden" name="checked_id" value="">
                        </td>
                        <td><button type="button" id="idCheck">중복확인</button></td>
                    </tr>
                    <tr>
                        <th>비밀번호<span class="red_star">*</span></th>
                        <td><input type="password" name="memberPw" placeholder="8~20자의 영어소문자+숫자"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>비밀번호확인<span class="red_star">*</span></th>
                        <td><input type="password" name="pwc"><span id="pwCheck"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>이름<span class="red_star">*</span></th>
                        <td><input type="text" name="memberName"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>닉네임<span class="red_star">*</span></th>
                        <td>
                        	<input type="text" name="memberNickname" placeholder="2~8자의 영어소문자 또는 한글">
                        	<input type="hidden" name="checked_nick" value="">
                        </td>
                        <td><button type="button" id="nicknameCheck">중복확인</button></td>
                    </tr>
                    <tr>
                        <th>생년월일<span class="red_star">*</span></th>
                        <td><input type="text" name="memberBirth" placeholder="ex)20210811"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>위치인증<span class="red_star">*</span></th>
                        <td><input type="text" name="memberLoc" placeholder="인증버튼을 클릭하세요." readonly></td>
                        <td><button type="button" id="findLocation">인증</button></td>
                    </tr>
                    <tr>
                        <th>이메일<span class="red_star">*</span></th>
                        <td>
                        	<input type="email" name="memberEmail" placeholder="이메일을 입력하세요.">
                        	<input type="hidden" name="checked_email" value="">
                        </td>
                        <td><button type="button" id="emailSend">인증</button></td>
                    </tr>
                    <tr class="email_number">
                        <th>인증번호<span class="red_star">*</span></th>
                        <td>
                        	<input type="text"><span id="emailCheck"></span>
                        	<input type="hidden" name="checked_emailNumber" value="">
                        </td>
                        <td></td>
                    </tr>
                </table>
                <hr>
                <div id="signup_keyword">
                    <p>
                        #관심키워드<br>
                        <span class="red_star">(최대3개선택)</span>
                    </p>
                    <label><input type="checkbox" name="keyword" value="육아"> 육아</label>
                    <label><input type="checkbox" name="keyword" value="교육"> 교육</label>
                    <label><input type="checkbox" name="keyword" value="친목"> 친목</label>
                    <label><input type="checkbox" name="keyword" value="취미"> 취미</label>
                    <label><input type="checkbox" name="keyword" value="중고거래"> 중고거래</label>
                    <label><input type="checkbox" name="keyword" value="일손"> 일손</label>
                    <label><input type="checkbox" name="keyword" value="맛집"> 맛집</label>
                    <label><input type="checkbox" name="keyword" value="분실물"> 분실물</label>
                    <label><input type="checkbox" name="keyword" value="후기"> 후기</label>
                </div>
                <hr>
                <div class="signup_btn">
                    <button type="submit" class="button_able">가입</button>
                    <button type="button" onclick="goIndex();">취소</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script th:src="@{/js/login/signup_js_jk.js}"></script>

</html>