<!DOCTYPE html>
<html lang="en">
<head>
	<div th:replace="/fragments/header.html :: fragment-header"></div>
	<!-- css -->
	<link th:href="@{/css/login/signup_jk.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="signup_wrapper">
        <img th:src="@{/images/ui/logo.png}" alt="poom로고">
        <div id="signup_content">
            <form action="" id="signUp">
                <table class="signup_table">
                    <tr>
                        <th>아이디<span class="red_star">*</span></th>
                        <td><input type="text" id="id"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>비밀번호<span class="red_star">*</span></th>
                        <td><input type="password" id="pw"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>비밀번호확인<span class="red_star">*</span></th>
                        <td><input type="password" id="pwc"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>이름<span class="red_star">*</span></th>
                        <td><input type="text" id="name"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>생년월일<span class="red_star">*</span></th>
                        <td><input type="text" id="birth"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>위치인증<span class="red_star">*</span></th>
                        <td><input type="text" id="location" value="" readonly></td>
                        <td><button type="button" id="findLocation">인증</button></td>
                    </tr>
                    <tr>
                        <th>이메일<span class="red_star">*</span></th>
                        <td><input type="email" id="email"></td>
                        <td><button type="button" id="emailSend">발송</button></td>
                    </tr>
                    <tr class="email_number">
                        <th>인증번호<span class="red_star">*</span></th>
                        <td><input type="text" required></td>
                        <td id="emailCheck"></td>
                    </tr>
                </table>
                <hr>
                <div id="signup_keyword">
                    <p>
                        #관심키워드<br>
                        <span class="red_star">(최대3개선택)</span>
                    </p>
                    <label><input type="checkbox" name="keyword" value="baby"> 육아</label>
                    <label><input type="checkbox" name="keyword" value="study"> 교육</label>
                    <label><input type="checkbox" name="keyword" value="friend"> 친목</label>
                    <label><input type="checkbox" name="keyword" value="hobby"> 취미</label>
                    <label><input type="checkbox" name="keyword" value="trade"> 중고거래</label>
                    <label><input type="checkbox" name="keyword" value="work"> 일손</label>
                    <label><input type="checkbox" name="keyword" value="eat"> 맛집</label>
                    <label><input type="checkbox" name="keyword" value="lost"> 분실물</label>
                    <label><input type="checkbox" name="keyword" value="review"> 후기</label>
                </div>
                <hr>
                <div class="signup_btn">
                    <button class="button_able">가입</button>
                    <button type="button" onclick="goIndex();">취소</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1172cfb757d529781bcdcd466392d241&libraries=services"></script>
<script th:src="@{/js/login/signup_js_jk.js}"></script>

</html>