<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <!-- css -->
	<link th:href="@{/css/login/signup_jk.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="signup_wrapper">
        <img th:src="@{/images/ui/logo.png}" alt="poom로고">
        <div id="signup_content">
            <form action="" id="termsOfService">
                <ul class="terms_list">
                    <li>
                        <input type="checkbox" id="checkAll" />
                        <label for="checkAll">poom 이용약관, 개인정보 수집 및 이용, 위치정보 수집 및 이용, <span>프로모션 정보 수신(선택)에 모두 동의합니다.</span></label>
                    </li>
                    <li>
                        <input type="checkbox" class="nomal" id="check01" required />
                        <label for="check01">poom 이용약관 동의</label>
                        <div>
                            여러분을 환영합니다. poom 서비스를 이용해 주셔서 감사합니다. 본 약관은 다양한 poom 서비스의 이용과 관련하여 poom 서비스를 제공하는 poom 주식회사(이하 'poom')와 회원(이하 '회원')의 관계를 설명하며, 아울러 여러분의 poom 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다. poom 서비스를 이용하시거나 poom 서비스 회원으로 가입하실 경우 여러분은 본 약관 및 관련 운영 정책을 확인하거나 동의하게 되므로, 잠시 시간을 내시어 주의 깊에 살펴봐 주시기 바랍니다.
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" class="nomal" id="check02" required />
                        <label for="check02">개인정보 수집 및 이용 동의</label>
                        <div class="terms_content">
                            개인정보보호법에 따라 poom에 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간, 동의 거부권 미 거부 시 불이익에 관한 사항을 안내 드리오니 자세히 읽은 후 동의하여 주시기 바랍니다. 
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" class="nomal" id="check03" required />
                        <label for="check03">위치정보 수집 및 이용 동의</label>
                        <div class="terms_content">
                            위치정보보호법에 따라 poom에 회원가입 신청하시는 분께 수집하는 위치정보의 항목, 위치정보의 수집 및 이용목적, 위치정보의 보유 및 이용기간, 동의 거부권 미 거부 시 불이익에 관한 사항을 안내 드리오니 자세히 읽은 후 동의하여 주시기 바랍니다. 
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" class="nomal" id="check04" />
                        <label for="check04">프로모션 정보 수신(선택)</label>
                    </li>
                </ul>
                <div class="terms_btn">
                    <button class="agree">확인</button>
                    <button onclick="goIndex();">취소</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script th:src="@{/js/login/signup_js_jk.js}"></script>
</html>