<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <!-- css -->
	<link th:href="@{/css/login/userfind_jk.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="userfind_wrapper">
        <img th:src="@{/images/ui/logo.png}" alt="poom로고">
        <ul class="findtab">
            <li th:classappend="${type}==id?tab_on" data-tab="findtab-1">아이디찾기</li>
            <li th:classappend="${type}==pw?tab_on" data-tab="findtab-2">비밀번호찾기</li>
        </ul>
        <div id="userfind_content">
            <form action="/idFind" method="post" name="idFind_form" target="popup_window">
                <div th:classappend="${type}==id?tab_on" id="findtab-1" class="findtab_con">
                    <p>아이디찾기</p>
                    <table class="userfind_table">
                        <tr>
                            <th>이름<span class="red_star">*</span></th>
                            <td colspan="2"
                            	><input type="text" name="memberName">
                            </td>
                        </tr>
                        <tr>
                            <th>이메일<span class="red_star">*</span></th>
                            <td colspan="2">
                            	<input type="email" name="memberEmail">
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn_submit">확인</button>
                    <button type="button" onclick="goIndex();">취소</button>
                </div>
            </form>
            <form action="/pwFind" method="post" name="pwFind_form" target="popup_window">
                <div th:classappend="${type}==pw?tab_on" id="findtab-2" class="findtab_con">
                    <p>비밀번호찾기</p>
                    <table class="userfind_table">
                        <tr>
                            <th>ID<span class="red_star">*</span></th>
                            <td>
                            	<input type="text" name="id">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>이름<span class="red_star">*</span></th>
                            <td>
                            	<input type="text" name="name">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                        <th>이메일<span class="red_star">*</span></th>
	                        <td>
	                        	<input type="email" name="memberEmail2">
	                        	<input type="hidden" name="checked_email" value="">
	                        </td>
	                        <td><button type="button" id="emailSend">인증</button></td>
	                    </tr>
	                    <tr class="email_number">
	                        <th>인증번호<span class="red_star">*</span></th>
	                        <td>
	                        	<input type="text"><span id="emailCheck"></span>
	                        	<input type="hidden" name="checked_emailNumber" value="">
	                        </td>
	                        <td></td>
	                    </tr>
                    </table>
                    <button type="submit" class="btn_submit" id="pwBtn">확인</button>
                    <button type="button" onclick="goIndex();">취소</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script th:src="@{/js/login/userfind_js_jk.js}"><</script>
</html>