@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);


*{
  text-decoration: none;
  list-style: none;
}

#room-container{
  display: grid;
  width: 100%;
  grid-template-rows: 60px 840px;
  border : 1px #000000 solid;
}
#room-container .chatroom-header{
  display: grid;
  grid-template-columns: 400px 530px 100px;
  border-bottom:1px #000000 solid;
  align-content: center;
}
#room-container .chatroom-header>:nth-child(1){
  justify-self: end;
  align-self: center;
  margin-right: 40px;
}
#room-container .chatroom-header>:nth-child(3){
  font-family: 'NEXON Lv2 Gothic Bold';
  font-size:30px;
  align-self: center;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.chatroom-submenu{
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 160px;
  height: 80px;
  padding: 8px;
  font-size: 20px;
  left:-100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #000000;
  z-index: 400;
}
.chatroom-submenu>div{
  height: 40px;
}
.chatroom-submenu>div:hover>span{
  border-bottom: 4px solid #000000;
}
#room-container .chatroom-header>:nth-child(3):hover .chatroom-submenu{
  display: block;
}

#room-container .chatroom-header .chatroom-icon-study{
  /*border: 1px solid #000000;
  */
  border-radius: 20px;
  padding: 4px;
  width: 55px;
  margin-left: 10px;
  font-size:15px;
  text-align: center;
  background-color: #3a5a48;
  color:#ffffff;
  border:2px #000000 solid;
  cursor: pointer;
}
#room-container .chatroom-header .chatroom-icon-gather{
  /*border: 1px solid #000000;
  */
  border-radius: 20px;
  padding: 4px;
  width: 55px;
  margin-left: 10px;
  font-size:15px;
  text-align: center;
  background-color: #e87f4d;
  color:#ffffff;
  border:2px #000000 solid;
  cursor: pointer;
}

#room-container .chatroom-header>:nth-child(2){
  font-family: 'NEXON Lv2 Gothic OTF';
  font-size:30px;
  align-self: center;
  font-weight: 700;
}

/* 채팅 내용 */
#chat-container{
  display: grid;
  grid-template-columns: 885px 150px;
}
#chat-container .chat-content-container{
  display: grid;
  grid-template-rows: 640px 150px;
}
#chat-container .chat-content-container .chat-list-container>div>ul li{
    margin-bottom: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#chat-container .chat-content-container .chat-list-container>div{
  /* border:1px #000000 solid; */
  margin: 20px;
  height: 600px;
  overflow: scroll;
}

/* 메세지 내용 */
.msg-container{
  width: 885px;
  padding: 10px;
  font-size: 20px;
  z-index: 3;
  overflow: scroll;
}
.other-chat{
  display: grid;
  grid-template-columns: 50px 200px;
  grid-template-rows: 50px auto;
  width: 300px;
  margin-bottom: 10px;
  margin-top:20px;
  margin-left: 20px;
}
.msg-container>.other-chat>:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.msg-container>.other-chat>:nth-child(2){
  align-self: center;
  font-size: 21px;
  font-weight: 600;
  font-family: 'NanumSquareRound';
}

.message-blue {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  /*background-color: #A8DDFD;*/
  /* width: 200px;
  height: 50px; */
  width: 200px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  z-index: 3;
}
.my-chat{
  margin-bottom: 10px;
  margin-left: 625px;
}
.msg-container .others-profile{
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
}

.chat-avatar{
  font-family: 'NanumSquareRound';
  padding:3px;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 29px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-style: normal;
  text-transform: uppercase;
}

.message-orange {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  margin-right: 20px;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  z-index: 3;
}

.message-content {
  padding: 0;
  margin: 0;
  z-index: 3;

}



/* 입장한 사람들 */
#chat-container .entered-mem-container{
  display: grid;
  grid-template-rows: 750px 90px;
  border-left:1px #000000 solid;
  /*background-color: #f6f6f6;*/
}
#chat-container .entered-mem-container .entered-mem-list{
  /* border-left:1px #000000 solid; */
  border-bottom:1px #000000 solid;
  /* background-color: #f6f6f6; */
}
#chat-container .entered-mem-container .entered-mem-list>div{
  margin: 5px 5px 5px 5px;
  /* border:1px #000000 solid; */
  height: 673px;
}
#chat-container .entered-mem-container .entered-mem-list>div .entered-mem{
  margin-left: 15px;
  margin-top: 15px;
  font-size:17px;
}
/* 나가기 버튼 */
#chat-container .entered-mem-container>:nth-child(2){
  justify-self: center;
  align-self: center;
  /* border-left: 1px #000000 solid; */
}
#chat-container .entered-mem-container>:nth-child(2)>div>button{
  border:none;
  font-size: 25px;
  width: 148px;
  height: 90px;
  /* background-color: #023246; */
  /* color: #ffffff; */
  cursor: pointer;
}

/* 보내기 */
#chat-container .send-container{
  border-top: 1px #000000 solid;
  border-bottom: 1px #000000 solid;

  margin-top: 40px;
  /* padding-left: 150px; */
}
#chat-container .send-container .send-msg-content{
  border:none;
  width: 82%;
  height: 110px;
  font-size: 27px;
}
.send-btn {
  transition: 150ms ease all;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  font-size: 35px;
  font-weight: bolder;
  background: linear-gradient(
          0deg,
          rgba(20, 91, 170, 0) 0%,
          rgba(34, 143, 248, 0) 100%
  );
  color: rgba(21, 119, 168, 1);
  border-top: 2px solid rgba(28, 160, 226, 1);
  border-right: 2px solid rgba(28, 160, 226, 1);
  border-bottom: 2px solid rgba(28, 160, 226, 1);
  border-left: 2px solid rgba(28, 160, 226, 1);
}
.send-btn:hover {
  transition: 150ms ease all;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  font-size: 35px;
  font-weight: bolder;
  background: linear-gradient(
          0deg,
          rgba(21, 119, 168, 1) 0%,
          rgba(21, 119, 168, 1) 100%
  );
  color: rgba(255, 255, 255, 1);
  border-top: 2px solid rgba(21, 119, 168, 1);
  border-right: 2px solid rgba(21, 119, 168, 1);
  border-bottom: 2px solid rgba(21, 119, 168, 1);
  border-left: 2px solid rgba(21, 119, 168, 1);
}
.send-btn:active {
  transition: 150ms ease all;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  font-size: 35px;
  font-weight: bolder;
  background: linear-gradient(
          0deg,
          rgba(40, 112, 148, 1) 0%,
          rgba(40, 112, 148, 1) 100%
  );
  color: rgba(255, 255, 255, 1);
  border-top: 2px solid rgba(40, 112, 148, 1);
  border-right: 2px solid rgba(40, 112, 148, 1);
  border-bottom: 2px solid rgba(40, 112, 148, 1);
  border-left: 2px solid rgba(40, 112, 148, 1);
}

