@import url('https://css.gg/user.css');
@import url('https://css.gg/key.css');

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#chatroom-container{
  font-family: 'NEXON Lv1 Gothic OTF';
  display: grid;
  width: 100%;
  grid-template-rows: 60px 40px 480px 60px 60px;
  /* border:1px #000000 solid; */
  background: #f7f7f7;
  border-radius: 20px;
}

#chatroom-container .chatroom-header{
  display: grid;
  grid-template-columns: 30% 60% 10%;
  border-bottom:1px #000000 solid;
}
#chatroom-container .chatroom-header>:nth-child(1){
  justify-self: end;
  align-self: center;
  margin-right: 40px;
}
#chatroom-container .chatroom-header>:nth-child(3){
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.chatroom-submenu{
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 160px;
  height: 80px;
  padding: 8px;
  font-size: 20px;
  left:-100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #000000;
}
.chatroom-submenu>div{
  height: 40px;
}
.chatroom-submenu>div:hover>span{
  border-bottom: 4px solid #000000;
}

#chatroom-container .chatroom-header>:nth-child(3):hover .chatroom-submenu{
  display: block;
}
#chatroom-container .chatroom-header .chatroom-icon-study{
  /*border: 1px solid #000000;
  */
  border-radius: 20px;
  padding: 4px;
  width: 50px;
  margin-left: 10px;
  font-size:15px;
  text-align: center;
  /*색상변경해야함*/
  background-color: red;
  color:#ffffff;
  border:2px #000000 solid;
  cursor: pointer;
}

#chatroom-container .chatroom-header .chatroom-icon-gather{
  /*border: 1px solid #000000;
  */
  border-radius: 20px;
  padding: 4px;
  width: 50px;
  margin-left: 10px;
  font-size:15px;
  text-align: center;
  /*색상변경해야함*/
  background-color: #287094;
  color:#ffffff;
  border:2px #000000 solid;
  cursor: pointer;
}
#chatroom-container .chatroom-header>:nth-child(2){
  font-family: 'NEXON Lv2 Gothic Bold';
  font-size:40px;
  align-self: center;
}
#chatroom-container .chatroom-header>:nth-child(3){
  font-family: 'NEXON Lv2 Gothic Bold';
  font-size:40px;
  align-self: center;
}

#chatroom-container .chatroom-nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size:25px;
  border-bottom:1px #000000 solid;
  align-content: center;
}
#chatroom-container .chatroom-nav .chatroom-status{
  margin-left: 30px;
}
#chatroom-container .chatroom-nav .chatroom-maker{
  justify-self: end;
  margin-right: 30px;
}

#chatroom-container .chatroom-content{
  font-family: 'NanumSquareRound';
  font-weight: bold;
  font-size:30px;
}
#chatroom-container .chatroom-content>div{
  margin: 50px 50px 50px 50px;
}

#chatroom-container .chatroom-const{
  border-top:1px #000000 solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}
#chatroom-container .chatroom-const>:nth-child(1){
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 400px 40px 36px 40px;
}
#chatroom-container .chatroom-const>:nth-child(1)>div{
  justify-self: center;
  align-self: center;
}
#chatroom-container .chatroom-const>:nth-child(1)>div:first-child{
  justify-self: end;
}

#chatroom-container .chatroom-const>:nth-child(2){
  justify-self: center;
  align-self: center;
}

.gg-user {
  display: block;
  transform: scale(var(--ggs,1));
  box-sizing: border-box;
  width: 24px;
  height: 36px;
}

.gg-user::after,
.gg-user::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid
}

.gg-user::before {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  top: 0;
  left: 3.5px
}

.gg-user::after {
  width: 19px;
  height: 15px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 10px
}

.gg-key {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 15px;
  height: 18px;
  border: 3px solid;
  border-radius: 100px;
  margin-left: -12px ;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.gg-key::after,
.gg-key::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: -30px;
  top:10px;
}

.gg-key::before {
  background: currentColor;
  width: 27px;
  height: 2px;
  top: 5px;
}

.gg-key::after {
  width: 9px;
  height: 6px;
  top: 7px;
  border-left: 3px solid;
  border-right: 3px solid;
}

#chatroom-container .chatroom-const>:nth-child(2){
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 100px 416px;
}
#chatroom-container .chatroom-const>:nth-child(2)>span:first-child{
  justify-self: center;
}
#chatroom-container .enter-btn{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px #000000 solid;
}
#chatroom-container .enter-btn>div{
  justify-self: center;
  align-self: center;
}
#chatroom-container .enter-btn input{
  background-color: #ffffff;
  font-size:25px;
  padding: 8px 8px 8px 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

