/* 글꼴 - 나눔고딕(googlefonts) */
/* font-family: 'Nanum Gothic', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); */
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

/* 사용색상 */
/* 청록색 - #287094 , 주황색 - #F77B1E */



/* 화면기본설정 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'NanumSquareRound',sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
div#wrapper {
    width: 1920px;
    height: auto;
    background: white;
}

/* 헤더 css */
div#header {
    width: 1920px;
    height: 120px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
    z-index: 9999;
}
div.logo {
    width: 248px;
    height: 70px;
    background: url(../../images/ui/logo.png) no-repeat center;
    background-size: contain;
    transform: translateZ(0);
    cursor: pointer;
}
div.search_bar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
div.search_bar>input {
    width: 450px;
    padding: 10px;
    padding-left: 20px;
    margin-right: 20px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 20px;
}
div.search_bar>input::placeholder {
    text-align: center;
    font-size: 17px;
}
div.search_bar>button {
    width: 60px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: rgb(6, 102, 146);
    color: white;
    /*font-size: bold;*/
    cursor: pointer;
}
ul.header_ui {
    width: 210px;
}
ul.header_ui>li {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    list-style: none;
    cursor: pointer;
}
ul.header_ui>li:first-child {
    /*background-size: contain;*/
}
ul.header_ui>li:nth-child(2) {
    background: url(../../images/ui/mypage.png) no-repeat center;
    background-size: contain;
}
ul.header_ui>li:last-child {
    background: url(../../images/ui/logout.png) no-repeat center;
    background-size: contain;
}

/* 좌측메뉴바 css */
div#nav {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 120px;
    left: 0;
    border-right: 1px solid lightgray;
}
button.menu_open {
    width: 70px;
    height: 30px;
    border-radius: 0 10px 10px 0;
    outline: none;
    cursor: pointer;
    background: none;
    position: absolute;
    top: 30px;
    left: 0;
    background:  white;
    color: black;
    border: none;
    font-size: 17px;
    font-weight: bold;
}
button.menu_open:hover,
button.menu_close:hover {
    color: #287094;
}
div#nav>p {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 20px;
    background: #287094;
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
    line-height: 280px;
    color: white;
}
div#nav>ul>li {
    width: 200px;
    padding: 15px;
    padding-left: 20px;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: black;
    cursor: pointer;
}
div#nav>ul>li:hover {
    color: #287094;
}
div.city_bar {
    display: none;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    background: #287094;
}
button.menu_close {
    width: 70px;
    height: 30px;
    border-radius: 10px 0 0 10px;
    outline: none;
    cursor: pointer;
    background: none;
    position: absolute;
    top: 30px;
    right: 0;
    background:  white;
    color: black;
    border: none;
    font-size: 17px;
    font-weight: bold;
}
div.city_bar>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
}
div.city_bar>ul>li {
    width: 40%;
    margin: 0 5%;
    margin-bottom: 7px;
    padding: 15px;
    padding-left: 20px;
    color: white;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}
div.city_bar>ul>li:hover {
    background: white;
    color: #287094;
    border-radius: 30px;
}

/* 우측콘텐츠 + 프로필 css */
div#content {
    width: 1620px;
    position: fixed;
    top: 130px;
    left: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 1;
}
div.profile {
    /* position: fixed;
    top: 130px;
    left: 310px; */
    flex-basis: 15%;
    background: #f7f7f7;
    border-radius: 20px;
    /* width: 300px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
}
div.profile>img {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: auto;
    border-radius: 50%;
    transform: translateZ(0);
}
div.profile>p:first-of-type {
    width: 250px;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
div.introduce {
    width: 250px;
    margin: auto;
    height: auto;
    background: #fdfdfd;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}
div.introduce>p {
	font-size: 14px;
    line-height: 20px;
    display: inline-block;
}
button.edit-btn{
    border-radius: 7px;
    padding: 5px 10px;
    height: 20px;
    background-color: #287094;
    border: none;
    color: white;
    font-size: 10px;
    cursor:pointer;
    float: right;
}
div.profile>p:last-of-type {
    width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
div.profile>p>span {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
div.profile>p>span>img {
    width: 100%;
    padding: 12px;
    transform: translateZ(0);
    cursor: pointer;
}
div.profile>p>span:nth-of-type(2n):hover {
    background: #d78e6b;
    filter: invert(100%);
}
div.profile>p>span:nth-of-type(2n-1):hover {
    background: #078fce;
    filter: invert(100%);
}

/* 메인피드 css */
div.feed {
    background: white;
    height:800px;
    flex-basis: 64%;
    overflow-y: auto;
    /* 오버플로우 스크롤 관련 - 일단 keep */
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}
/* 오버플로우 스크롤 관련 - 일단 keep */
/* div.feed::-webkit-scrollbar {
    display: none;
} */
div.feed::-webkit-scrollbar {
    background: white;
    width: 10px;
}
div.feed::-webkit-scrollbar-thumb {
    background: #287094;
    border-radius: 5px;
}
div.feed_write {
    width: 100%;
    height: auto;
    background: #f7f7f7;
    border-radius: 20px;
    padding: 20px 30px;
    position: relative;
}
div.feed_write>select  {
    width: 150px;
    height: 30px;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    margin: 0 15px 0 37px;
    background: #fdfdfd;
    border: 1px solid lightgray;
}
div.feed_write>input {
    width: 700px;
    border: none;
    background: none;
    font-size: 17px;
    padding: 5px;
    font-weight: bold;
}
div.feed_write>span#intro_cnt {
	position: absolute;
	right: 60px;
	bottom: 83px;
	font-size: 15px;
}
div.feed_write>input::placeholder,
div.feed_write>textarea::placeholder {
    font-size: 15px;
    font-weight: normal
}
div.feed_write>hr {
    margin: 10px 0;
}
div.feed_write>textarea {
	min-height: 130px;
	resize: none;
    width: 95%;
    font-size: 17px;
    overflow-y: hidden;
    border: none;
    background: none;
    margin: 0 2.5%;
    padding: 15px;
}
div.feed_write button {
	width: 70px;
	height: 30px;
	border-radius: 7px;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	line-height: 30px;
}
.gg-add {
   box-sizing: border-box;
   position: relative;
   display: inline-block;
   width: 20px;
   height: 20px;
   border: 2px solid;
   transform: scale(var(--ggs,1));
   border-radius: 20px;
   top: 5px;
}
.gg-add::after,
.gg-add::before {
   content: "";
   display: inline-block;
   box-sizing: border-box;
   position: absolute;
   width: 10px;
   height: 2px;
   background: currentColor;
   border-radius: 5px;
   top: 7px;
   left: 3px;
}
.gg-add::after {
   width: 2px;
   height: 10px;
   top: 3px;
   left: 7px;
}
div.feed_write button:first-of-type {
	width: auto;
	margin-left: 37px;
	margin-right: 5px;
	border: none;
	background: none;
	font-size: 18px;
    position: relative;
	color: darkgray;
}
div.feed_write button:first-of-type>img {
	width: 200px;
    position: absolute;
    bottom: 27px;
    left: -29px;
    opacity: 0.7;
    display: none;
}
div.feed_write button:nth-of-type(2) {
	float:right;
	margin-right: 15px;
	margin-left: 7px;
	background: #F77B1E;
	color: white;
	border: none;
}
div.feed_write button:last-of-type {
	width: 80px;
	float: right;
	background: #fdfdfd;
	border: 1px solid lightgray;
}
div.feed_new {
    width: 100%;
    height: auto;
    background: #f7f7f7;
    border-radius: 20px;
    margin-top: 7px;
    padding: 30px;
    position: relative;
    z-index: 100;
}
div.loc_onoff {
	position: absolute;
	top: 60px;
}
label.loc_switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  vertical-align: middle;
  border-radius: 34px;
  background: #247094;
}

label.loc_switch input {
	display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  left: 2px;
  bottom: 3px;
  -webkit-transition: .4s;
  transition: .4s;
}
.round {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    bottom: 3px;
    cursor: pointer;
}
div.feed_new p.onoffBtn {
	margin-right:2px;
	display:inline-block;
	font-weight:bold;
}
.btnHide {
	display:none;
}
ul.feedtab {
    display: flex;
    justify-content: center;
}
ul.feedtab>li{
    padding: 15px 15px 30px 15px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    color: darkgray;
}
ul.feedtab>span {
	padding: 16px 16px 30px 16px;
	color: darkgray;
	font-size: 23px;
}
ul.feedtab>li.feedtab_on {
    font-weight: bold;
    color: black;
}
div#feed_content>div.fList {
	width: 100%;
    height: 200px;
    background: #fdfdfd;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
div#feed_content p.nofeed {
	width: 100%;
    height: 150px;
    background: #fdfdfd;
    border-radius: 18px;
    text-align: center;
    line-height: 23px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.nofeed>button {
	width: 120px;
    height: 33px;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: #fdfdfd;
    background: #F77B1E;
    margin-top: 15px;
    font-size: 15px;
}
div.fList div:first-child {
	width: 80%;
	padding: 0 20px 10px 20px;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
} 
div.fList div:first-child span {
	font-size: 20px;
	height: 23px;
	font-weight: bold;
	display:inline-block;
	line-height: 23px;
}
div.fList div:first-child span:first-of-type {
	width: 170px;
	margin-right: 15px;
	font-size: 17px;
	font-weight: 400;
	border-right: 3px solid lightgray;
}
div.fList div:first-child span:nth-child(2){
	width: 480px;
    text-overflow: ellipsis;
}
div.fList div:first-child span:last-child {
	width: 24px;
    padding-left: 20px;
}
div.fList div:first-child span:last-child>div {
   	padding: 7px 0;
    width: 86px;
    text-align: center;
    background: #247094;
    font-style: normal;
    font-size: 15px;
    color: white;
    position: absolute;
    top: 43px;
    right: 187px;
    border-radius: 7px;
    display: none;
}
div.fList div:nth-child(2) {
	font-weight: 200;
	font-size: 17px;
}

/* 더보기 아이콘 */
.gg-more-vertical-alt {
    transform: scale(var(--ggs,1));
}
.gg-more-vertical-alt,
.gg-more-vertical-alt::after,
.gg-more-vertical-alt::before {
    box-sizing: border-box;
    position: relative;
    bottom: 4px;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 100%;
    color: darkgray;
}
.gg-more-vertical-alt::after,
.gg-more-vertical-alt::before {
    content: "";
    position: absolute;
}
.gg-more-vertical-alt::after {
    left: 0;
    top: 7px;
}
.gg-more-vertical-alt::before {
    top: -7px;
    right: 0
}

div.fList>div:nth-child(2) {
  	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 80%;
    height: 83px;
    padding: 10px 20px 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    cursor: pointer;
}
div.fList>img {
	width: 160px;
	height: 160px;
	border-radius: 15px;
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1px solid lightgray;
	cursor: pointer;
}
div.fList ul {
	width:80%;
	margin-top: 10px;
	border-top: 1px solid lightgray;
	display: flex;
	justify-content: flex-end;
}
div.fList ul>li {
	width: 10%;
	display: flex;
    height: 30px;
    align-items: center;
    padding: 0 10px;
    color: darkgray;
    cursor: pointer;
}
div.fList ul>li:first-child {
	width: 79%;
	color: black;
	font-weight: bold;
	font-style: italic;
	padding-top: 5px;
}

/* 댓글 ui css */
.gg-menu-boxed {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border-radius: 1px;
    border: 2px solid;
    margin-right: 3px;
}
.gg-menu-boxed::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 3px;
    top:2px;
    left: 2px;
    box-shadow: 0 4px 0, 0 8px 0
}

div.feed>div.topBtn {
	padding: 7px 13px;
    background: #247094;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    position: fixed;
    bottom: 13px;
    font-size: 15px;
    right: 190px;
}


/* HOT키워드순위 css */
div.rank {
    /* position: fixed;
    top: 130px;
    right: 10px; */
    background: #f7f7f7;
    border-radius: 20px;
    padding: 20px 0;
    flex-basis: 10%;
}
div.rank>p {
    width: 250px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: black;
}
div.rank>ul>li {
    width: 220px;
    margin: auto;
    font-size: 17px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: 10px;;
    text-align: left;
    color: black;
    cursor: pointer;
    background: #fdfdfd;
}