/* 글꼴 - 나눔고딕(googlefonts) */
/* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* 사용색상 */
/* 청록색 - #287094 , 주황색 - #F77B1E */



/* 화면기본설정 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
div#wrapper {
    width: 1920px;
    height: auto;
    background: white;
}

/* 헤더 css */
div#header {
    width: 1920px;
    height: 120px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
    z-index: 9999;
}
div.logo {
    width: 248px;
    height: 70px;
    background: url(../../images/ui/logo.png) no-repeat center;
    background-size: contain;
    transform: translateZ(0);
    cursor: pointer;
}
div.search_bar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
div.search_bar>input {
    width: 450px;
    padding: 10px;
    padding-left: 20px;
    margin-right: 20px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 20px;
}
div.search_bar>input::placeholder {
    text-align: center;
    font-style: italic;
    font-size: 17px;
}
div.search_bar>button {
    width: 60px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: rgb(6, 102, 146);
    color: white;
    /*font-size: bold;*/
    cursor: pointer;
}
ul.header_ui {
    width: 210px;
}
ul.header_ui>li {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    list-style: none;
    cursor: pointer;
}
ul.header_ui>li:first-child {
    background: url(../../images/ui/alarm.png) no-repeat center;
    background-size: contain;
}
ul.header_ui>li:nth-child(2) {
    background: url(../../images/ui/mypage.png) no-repeat center;
    background-size: contain;
}
ul.header_ui>li:last-child {
    background: url(../../images/ui/logout.png) no-repeat center;
    background-size: contain;
}

/* 좌측메뉴바 css */
div#nav {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 120px;
    left: 0;
    border-right: 1px solid lightgray;
}
button.menu_open {
    width: 70px;
    height: 30px;
    border-radius: 0 10px 10px 0;
    outline: none;
    cursor: pointer;
    background: none;
    position: absolute;
    top: 30px;
    left: 0;
    background:  white;
    color: black;
    border: none;
    font-size: 17px;
    font-weight: bold;
}
button.menu_open:hover,
button.menu_close:hover {
    color: #287094;
}
div#nav>p {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 20px;
    background: #287094;
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
    line-height: 280px;
    color: white;
}
div#nav>ul>li {
    width: 200px;
    padding: 15px;
    margin: auto;
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: black;
    cursor: pointer;
}
div#nav>ul>li:hover {
    color: #287094;
}
div.city_bar {
    display: none;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    background: #287094;
}
button.menu_close {
    width: 70px;
    height: 30px;
    border-radius: 10px 0 0 10px;
    outline: none;
    cursor: pointer;
    background: none;
    position: absolute;
    top: 30px;
    right: 0;
    background:  white;
    color: black;
    border: none;
    font-size: 17px;
    font-weight: bold;
}
div.city_bar>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
}
div.city_bar>ul>li {
    width: 40%;
    margin: 0 5%;
    margin-bottom: 7px;
    padding: 15px;
    padding-left: 20px;
    color: white;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}
div.city_bar>ul>li:hover {
    background: white;
    color: #287094;
    border-radius: 30px;
}

/* 우측콘텐츠 css */
div#content {
    width: 1620px;
    position: fixed;
    top: 130px;
    left: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 1;
}
div.profile {
    /* position: fixed;
    top: 130px;
    left: 310px; */
    flex-basis: 15%;
    background: #f7f7f7;
    border-radius: 20px;
    /* width: 300px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.edit-btn{
    border-radius: 10px;
    width: 50px;
    margin: 10px 0 0 170px;
    height: 20px;
    background-color: #287094;
    border: none;
    color: white;
    font-size: 10px;
    cursor:pointer;
}
div.profile>img {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: auto;
    border-radius: 50%;
}
div.profile>p:first-of-type {
    width: 250px;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
div.profile>p:nth-of-type(2) {
    width: 250px;
    margin: auto;
    height: auto;
    background: #fdfdfd;
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
    font-size: 15px;
    margin-bottom: 10px;
}
div.profile>p:last-of-type {
    width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
div.profile>p>span {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
div.profile>p>span>img {
    width: 100%;
    padding: 12px;
    transform: translateZ(0);
    cursor: pointer;
}
div.profile>p>span:nth-of-type(2n):hover {
    background: #d78e6b;
    filter: invert(100%);
}
div.profile>p>span:nth-of-type(2n-1):hover {
    background: #078fce;
    filter: invert(100%);
}
div.feed {
    background: white;
    height:800px;
    flex-basis: 64%;
    overflow-y: auto;
    /* 오버플로우 스크롤 관련 - 일단 keep */
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}
/* 오버플로우 스크롤 관련 - 일단 keep */
/* div.feed::-webkit-scrollbar {
    display: none;
} */
div.feed::-webkit-scrollbar {
    background: white;
    width: 10px;
}
div.feed::-webkit-scrollbar-thumb {
    background: #287094;
    border-radius: 5px;
}
div.feed_write {
    width: 100%;
    height: auto;
    background: #f7f7f7;
    border-radius: 20px;
    padding: 30px;
}
div.feed_write>select  {
    width: 15%;
    height: 30px;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    margin: 0 20px;
}
div.feed_write>input {
    width: 80%;
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
}
div.feed_write>input::placeholder,
div.feed_write>textarea::placeholder {
    font-style: italic;
    font-size: 17px;
}
div.feed_write>hr {
    margin: 15px 0;
}
div.feed_write>textarea {
    width: 100%;
    font-size: 20px;
    overflow-y: hidden;
    outline: none;
    border: none;
    background: none;
    padding: 0 30px;
}
div.feed_new {
    width: 100%;
    height: auto;
    background: #f7f7f7;
    border-radius: 20px;
    margin-top: 10px;
    padding: 30px;
}
div.rank {
    /* position: fixed;
    top: 130px;
    right: 10px; */
    background: #f7f7f7;
    border-radius: 20px;
    padding: 20px 0;
    flex-basis: 10%;
}
div.rank>p {
    width: 250px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: black;
}
div.rank>ul>li {
    width: 220px;
    margin: auto;
    font-size: 17px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: 10px;;
    text-align: left;
    color: black;
    cursor: pointer;
    background: #fdfdfd;
    
}