#modal{
}

.modal-window {
    background: rgba(64, 116, 197, 0.65);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 350px;
    height: 500px;
    top:50px;
    left: -120px;
    position: relative;
    display: grid;
    grid-template-rows: 80px 420px;
    justify-content: center;
    align-content: center;
    font-size:25px;
    padding: 10px;
}

.modal-title {
    font-size:30px;
    width: 350px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding-left: 10px;
    text-shadow: 1px 1px 2px gray;
    color: white;
    border-bottom: 2px solid #ffffff;

}
.modal-title span {
    justify-self: center;
}
.modal-title span:hover {
    border-bottom: 3px solid #ffffff;
}

.modal-content-list {
    text-shadow: 1px 1px 2px gray;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: scroll;
}
.modal-content-list>div {
    height: 103px;
    display: grid;
    grid-template-columns: 80px 270px;
    border-bottom: 2px solid #ffffff;
}