.modal-window {
    background: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 350px;
    height: 500px;
    top:50px;
    left: -120px;
    position: relative;
    display: grid;
    grid-template-rows: 80px 420px;
    justify-content: center;
    align-content: center;
    font-size:20px;
    padding: 10px;
}

.modal-title {
    font-size:30px;
    width: 350px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding-left: 10px;
    text-shadow: 1px 1px 2px gray;
    color: #000000;
    border-bottom: 2px solid #000000;
}

.noti-info-alarm {
    border-bottom: 3px solid #000000;
    justify-self: center;
    width: 50%;
}

.noti-info-message{
    color:#d3d3d3;
    justify-self: center;
    width: 50%;
}

.alarm-count{
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    width: 25px;
    position: absolute;
    height: 25px;
}
.alarm-count>span{
    padding-left: 5px;
}
.modal-title span {
    justify-self: center;
}
/*.modal-title span:hover {*/
/*    border-bottom: 3px solid #000000;*/
/*}*/

.modal-content-list {
    text-shadow: 1px 1px 2px gray;
    color: #000000;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: scroll;
}
.modal-content-list>div {
    height: 103px;
    display: grid;
    grid-template-columns: 80px 270px;
    border-bottom: 2px solid #000000;
}
.noti-content-box>div{
    align-self: center;
    justify-self: center;
}
.noti-detail span{
    display: inline-block;
}
.noti-detail span:nth-child(1){
    font-size:22px;
}

.noti-detail span:nth-child(2){
    font-size:20px;
    padding-left: 110px;
}