/* 글꼴 - 나눔고딕(googlefonts) */
/* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
body{
    margin-top: 100px;
    margin-left: 100px;
}
.col {
    border-collapse: collapse;
}

button {
    background-color: #f7f7f7;
    padding: 8px 30px !important;
    width: 140px;
    font-size: 20px;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 0px solid transparent;
    float: left;
}

button:hover {
    background-color: #f7f7f7;
}

input msgsearch{
    font-size: 20px;
    width: 140px;
    border-radius: 20px;


}
.col-100 {
    width: 100%;
}

table {
    text-align: center;
    font-size: 17px;
}

th {
    background-color: #f7f7f7;
    border: 1px solid rgba(224, 224, 224, 0.2);
    height: 50px;
    color: black;
    font-size: 20px;
}

tr,
td {
    padding: 4px 0px;
    border: 1px solid rgba(224, 224, 224, 0.2);
    font-size: 17px;
}

.send-message{
    float: right;
}
div.tablebox>input{
    width: 87px;
    height: 27px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: rgb(6, 102, 146);
    color: white;
    margin-top: 10px;
}

.search-message{
    width: 250px;
    margin-right: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    float: right;
    margin-top: 10px;
    text-align: center;
    color: #d3d3d3;
}

.msg-cancel{
    text-align: center;
    width: 117px;
    font-size: 15px;
    border-radius: 20px;
}

.msg-cancel1{
    text-align: center;
    width: 200px;
    font-size:15px;
    border-radius: 20px;
}
