#header{
	background-color:white;
	z-index: 1000;
}

/* div#content{
	position:absolute;
	height:1000px;
} */

#board-area{
	border: none;
	width: 100%;
}
div#board_view{
	width: 1320px;
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	height: 795px;
}
div#board_view>div{
	background: #f7f7f7;
    border-radius: 20px;
    padding: 20px 0;
}
#board_view ul{
    padding:0 20px; margin:0;
    vertical-align: center;
}
#board_view li{
    list-style:none;
    /* margin:30px; */
    padding:20px 20px;
    /* padding-left: 20px; */
    margin: auto;
    font-size: 17px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: left;
    background: #fdfdfd;
}


/* 게시글 부분 */
div#board_container{
	width: 1000px;
	margin-right: 10px;
}
div#board_container>ul>li:first-child>span:nth-child(2){
	display:inline-block;
	float:right;
	font-size:25px;
	line-height:25px;
	cursor:pointer;
}
div#board_container li:nth-child(3){
	height:500px;
	overflow-y:scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
div#board_container li:nth-child(3)::-webkit-scrollbar {
   display: none; /* Chrome, Safari, Opera */
}
/* 버튼 */
div#board_container>div:last-child{
	display:flex;
	justify-content:space-between;
	padding:0 20px; 
	/*padding-top:10px;*/
	/*margin-top:30px;*/
}
div#board_container>div:last-child button{
	display:inline-block;
	width: 80px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    background:#f7f7f7;
    font-size: 15px;
    cursor: pointer;
    border:1px solid lightgray;
} 

/* 댓글 부분 */
div#comment_container{
	width:550px; padding:0 20px;
	display:flex; flex-direction: column;
	justify-content:space-between;
	margin-right: -10px;
	position:relative;
}
div#comment_container>ul{
	overflow-y:scroll;
	height: 685px;
}
p#comment_title{
    font-size: 20px;
    font-weight: bold;
    padding:10px;
    margin-bottom:10px;
}
/* 댓글 메뉴 */
span.b_comment_menu{
	float:right;
	cursor:pointer;
	position:relative;
}
span.b_comment_menu>div{
	width:70px;
	border:1px solid gainsboro;
	border-radius:5px;
	padding:10px;
	background:white;
	z-index:999;
	position:absolute;
	left: -33px;
    top: 24px;
}
span.b_comment_menu>div>a{
	display:block;
	text-align:center;
	cursor:pointer;
}
span.b_comment_menu>div>a:first-child{
	margin-bottom:10px;
}
ul.comment_scroll>li {
	padding: 15px !important;
}
ul.comment_scroll>li img {
	width: 55px;
    height: 55px;
    float: left;
    border-radius: 50%;
    border: 1px solid lightgray;
}
ul.comment_scroll>li span:nth-of-type(3) {
	width: 80%;
    display: inline-block;
    padding: 3px 15px 7px 15px;
    border-bottom: 1px solid lightgray;
    margin-left: 11px;
    font-weight: bold;
}
ul.comment_scroll>li span:nth-of-type(5) {
	width: 80%;
    padding: 7px 15px 3px 15px;
    display: inline-block;
    margin-left: 11px;
}

/* 스크롤바 */
.comment_scroll::-webkit-scrollbar {
  width: 6px;
}
.comment_scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.comment_scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.comment_scroll::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
/* 댓글 입력창 */
div#comment_container>div{
	padding: 10px 20px;
	display:flex;
	justify-content:center;
}
input#commentContent{
	width: 80%;
    margin-right: 10px;
    padding: 5px;
    padding-left: 15px;
    border: 1px solid lightgray;
    border-radius: 30px;
    outline: none;
}
div#comment_container>div>input[type=submit]{
	width:80px; height:40px;
	border-radius:30px;
	border: 1px solid lightgray;
}

/* 더보기 아이콘 */
.gg-more-vertical-alt {
    transform: scale(var(--ggs,1));
}
.gg-more-vertical-alt,
.gg-more-vertical-alt::after,
.gg-more-vertical-alt::before {
    box-sizing: border-box;
    position: relative;
    bottom: 1px;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 100%;
    color: darkgray;
}
.gg-more-vertical-alt::after,
.gg-more-vertical-alt::before {
    content: "";
    position: absolute;
}
.gg-more-vertical-alt::after {
    left: 0;
    top: 7px;
}
.gg-more-vertical-alt::before {
    top: -7px;
    right: 0
}