#ckeditor-form{
    text-align: center;
    padding: 60px;
}

#ckeditor-table{
    width: 95%;
    text-align: left;

}

#ckeditor-table th {
    font-size: 20px;
    padding: 25px;
    width: 300px;
}

#ckeditor-table tr:nth-of-type(5) th{
    padding: 30px 25px 15px 25px;
}

#ckeditor-table select{
    width: 150px;
    height: 30px;
    font-size: 16px;
}

.input-style{
    width:710px;
    font-size: 15px;
    font-style: italic;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    background-color: #f7f7f7;
}

#ckeditor-table tr:last-of-type td{
    width: 95%;
    text-align: center;

}

#ckeditor-table textarea{
    margin-left: 30px;
}

#ckeditor-table tr:nth-of-type(6) td{

    padding: 0 0 30px 10px;

}

.boardTag{
    /*width: 880px;*/
    font-size: 15px;
    font-style: italic;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    background-color: #f7f7f7;
}

#textarea-td{
    padding-left: 20px;
}

#inputBoardTag{
    width: 870px;
}


/*----------------- 이전 css ----------------- */

#header{
	background-color:white;
	z-index: 1000;
}

div#board-form-content{
    width: 1020px;
    background-color: #f7f7f7;
    border-radius: 20px;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 20px;
    height: 800px;
    overflow-y: scroll;
}

#board_form ul{
    padding:0; margin:0;
    vertical-align: center;
    text-align: left;
}

#board_form li{
    list-style:none;
    margin:30px;
    /* height:60px; */
    padding:10px 0;
}
#board_form li *{
    display:inline-block;
    width:100px;
    position:relative;
    top:15px; left:30px;
    font-size: 18px;
}
#board_form li input{
    width: 400px;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    background-color: #f7f7f7;
}

#board_form span{
    font-weight: bold;
}

.create-tag{
    font-size: 20px;
    font-weight: bolder;
    border: none;
    background-color: #f7f7f7;
    cursor: pointer;
}

#ckeditor-form{
    background-color: #f7f7f7;
    border-radius: 20px;
}


#board_form li>textarea{
	border:1px solid lightgray;
	width:800px;
	height:300px;
	margin-top:30px;
	resize: none;
	padding:20px;
}
#board_form li>select{
	height:30px;width:165px;
}
#board_form li:last-child input{
	width:800px;
	padding:10px;
}
/* 버튼 포함된 div */
#board_form>form>div{
    display:flex;
    justify-content: center;
    margin-top:20px;
}
/* 버튼 */
#board_form>form>div *{
    width:150px; height:60px;
    cursor:pointer;
    border:1px solid gray;
    border-radius: 3px;
    background-color: #fdfdfd;

}
#board_form>form>div>input{
    background-color:#F77B1E;
}


.blue-btn{
    width: 70px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #287094;
    color: white;
    cursor: pointer;
}

.blacksolid-btn{
    width: 70px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: 1px solid black;
    background: #f7f7f7;
    cursor: pointer;
}

.tooltip{
    width: 190px;
    position: absolute;
    bottom: 40px;
    right: 700px;
    opacity: 85%;
    display: none;
}

#ckeditor-table tr:nth-of-type(5) th{
    position : relative;
}

#ckeditor-table tr:nth-of-type(5) button:hover + .tooltip{
    display: inline;
}






