#header{
	background-color:white;
	z-index: 1000;
}

div#board-form-content{
    width: 1020px;
    background-color: #f7f7f7;
    border-radius: 20px;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 20px;
    height: 800px;
    overflow-y: scroll;
}

#board_form ul{
    padding:0; margin:0;
    vertical-align: center;
    text-align: left;
}

#board_form li{
    list-style:none;
    margin:30px;
    /* height:60px; */
    padding:10px 0;
}
#board_form li *{
    display:inline-block;
    width:100px;
    position:relative;
    top:15px; left:30px;
    font-size: 18px;
}
#board_form li input{
    width: 400px;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    background-color: #f7f7f7;
}

#board_form span{
    font-weight: bold;
}




#board_form li>textarea{
	border:1px solid lightgray;
	width:800px;
	height:300px;
	margin-top:30px;
	resize: none;
	padding:20px;
}
#board_form li>select{
	height:30px;width:165px;
}
#board_form li:last-child input{
	width:800px;
	padding:10px;
}
/* 버튼 포함된 div */
#board_form>form>div{
    display:flex;
    justify-content: center;
    margin-top:20px;
}
/* 버튼 */
#board_form>form>div *{
    width:150px; height:60px;
    cursor:pointer;
    border:1px solid gray;
    border-radius: 3px;
    background-color: #fdfdfd;

}
#board_form>form>div>input{
    background-color:#F77B1E;
}