/* /div#feed_content>div.bList { */
div#board_box{
    width: 100%;
    height: auto;
    background: #f7f7f7;
    border-radius: 20px;
    /*margin-top: 7px;*/
    padding: 30px;
    position: relative;
    z-index: 100;
	flex-basis: 64%;
}
div#board_list_title{
	/* height:300px; */
	width:100%;
	text-align:left;
	padding:20px 0;
	display:inline-block;
}
div#board_box>div:first-child{
	font-size: 35px;
    font-weight: bold;
    color: #F77B1E;
    margin-bottom:50px;
}
div#board_list_title>ul {
	width: 100%;
	/* height:auto; */
    /* height: 250px; */
    background: #fdfdfd;
    border-radius: 20px;
    padding:5px 20px;
    /* margin-bottom: 10px; */
    /* position: relative; */
    
}
div#board_list_title>ul>li{
	/* border-bottom:1px solid lightgray; */
	line-height:50px;
	height:50px;
}
div#board_list_title>ul>li>span:first-child{
	font-weight:bold;
	font-size:22px;
	color:#287094;
	display:inline-block;
	width:85%;
	text-overflow: ellipsis;
	overflow: hidden;
	
}
div#board_list_title>ul>li>span:nth-chlid(2){
	display:inline-block;
	float:right;
	font-size:16px;
}

#notice-list-title{
	width:100%;
	text-align:left;
	padding:20px 0;
	display:inline-block;
}

#notice-list-title>ul {
	width: 100%;
	/* height:auto; */
	/* height: 250px; */
	background: #fdfdfd;
	border-radius: 20px;
	padding: 5px 20px;
}

#notice-list-title li{
	margin: 10px 10px 20px 10px;
}


#notice-list-title span:first-of-type{
	font-size: 18px;
	font-weight: bold;
	color: darkslategray;
	margin-right: 5px;
}

#notice-list-title span:nth-of-type(2){
	font-size: 12px;
	color: darkgray;
	font-style: italic;
}


div.bList {
	width: 100%;
    height: 200px;
    background: #fdfdfd;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
div.bList div:first-child {
	width: 80%;
	padding: 0 20px 10px 20px;
	border-bottom: 1px solid lightgray;
} 
div.bList div:first-child span {
	font-size: 20px;
	height: 23px;
	font-weight: bold;
	display:inline-block;
	line-height: 23px;
	cursor:pointer;
}

div.bList div:nth-child(2) {
  	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 80%;
    height: 83px;
    padding: 10px 20px 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
}
div.bList>img {
	width: 160px;
	height: 160px;
	border-radius: 15px;
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1px solid lightgray;
}
div.bList ul {
	width:80%;
	margin-top: 10px;
	border-top: 1px solid lightgray;
	display: flex;
	justify-content: flex-end;
}
div.bList ul>li {
	display: flex;
    height: 30px;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    color: darkgray;
    cursor:pointer;
}
div.bList ul>li:last-child {
	margin-right: 10px;
}

#searchBox{
	text-align: center;
}

#searchBox input:nth-of-type(1){
	width: 300px;
	height: 25px;
	text-align: center;
	font-style: italic;
	margin: 20px 10px 10px 10px;
}

#searchBox input:last-of-type{
	width: 50px;
	height: 25px;
}

.tag-list span{
	margin-right: 8px;
	font-size: 15px;
	color: #287094;
}

.bSpan div>span:first-of-type{
	width: 180px;
	border-right: 2px solid darkgray;
	font-size: 15px !important;
	font-style: italic;
	color: grey;
}

.bSpan div>span:last-of-type {
	margin-left: 10px;
}

.writeBox{
	text-align: right;
}

.writeBox button{
	width: 60px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	margin-right: 20px;
	cursor: pointer;
	background-color: #F77B1E;
	height: 28px;
	color: white;
	font-weight: bolder;
}

/*페이지바*/
div#admin_pagebar{
	height:80px;
	display:flex;
	position:relative;
	/* justify-content:center; */
	padding-top:30px;
	/* flex-direction:row; */
}
div#admin_pagebar>div{
	position:absolute;
	left:495px;
	width:210px;
	display:flex;
	justify-content: center;
}
div#admin_pagebar>div div{
	height:30px;
	width:30px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	color:darkgray;
	border-radius: 5px;
	margin:0 3px;
}



