<div id="message_section">
    <div id="table1" th:if="${list!=null}" >
        <table class="col-100 col" >
            <colgroup>
                <col width="10%">
                <col width="20%">
                <col width="*%">
                <col width="*%">
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th>no</th>
                <th>보낸사람</th>
                <th>내용</th>
                <th>보낸일자</th>
                <th>차단</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mv:${list}" onclick="showMsgDtl($(this).children('.msgNo').html())">
                <td>
                    <div class="checkbox2 m-0">
                        <input id="check" type="checkbox">
                        <label for="check">
                        </label>

                    </div>
                </td>
                <td class="msgNo" th:text="${mv.MSG_NO}" ></td>
                <td th:text="${mv.MEMBER_ID}"></td>
                <td th:text="${mv.MSG_CONTENT}" ></td>
                <td th:text="${mv.MSG_DATE}"></td>
                <td><button class="msg-cancel1">차단함으로 이동</button></td>
            </tr>
            </tbody>
        </table>
        <input type="button" class="send-message" value="쪽지보내기" onclick="showPopup(1);">

    </div>
</div>
    <script th:src="@{/js/message/message_js_sh.js}"></script>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
