<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <!--message css-->
    <link th:href="@{/css/message/message_tap.css}" rel="stylesheet" type="text/css">
</head>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        fn_message_move('receive');
    });
</script>



<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
<div id="wrapper">

    <!-- 헤더바 -->
    <div th:replace="/fragments/headerbar.html :: fragment-headerbar"></div>
    <!-- 좌측메뉴바 -->
    <div th:replace="/fragments/nav.html :: fragment-nav"></div>

    <!-- 우측콘텐츠 / 고정+변동 -->
    <div id="content">

        <!-- 프로필 -->
        <div th:replace="/fragments/profile.html :: fragment-profile"></div>


        <!-- message 구역  -->
        <div class="feed">
            <div class="message-header">
                <div class="buttonbox">
                    <button type="button" id="btn_1" onclick="fn_message_move('receive');">받은쪽지</button>
                    <button type="button" id="btn_2" onclick="fn_message_move('send');">보낸쪽지</button>
                    <button type="button" id="btn_3" onclick="fn_message_move('block');">휴지통</button>
                </div>
                <div class="md-input form_search col-12 col-md-6 col-lg-4">
                    <input type="text" name="keyword" class="search-message" placeholder="쪽지 검색" onkeyup="tableFilter(this)">
<!--                    <span class="bar"></span>-->
<!--                    <button class="btn __nude search_ico"><i class="fal fa-search"></i> <span class="hidden">검색</span></button>-->
                </div>
<!--                <div>-->
<!--                    <input class="search-message" type="msgsearch" value="쪽지 검색해보세요~">-->
<!--                </div>-->
            </div>


            <div id="target"></div>
            <input type="button" class="send-message" value="쪽지보내기" onclick="showPopup();">

        </div>

        <!-- HOT키워드순위창 -->
        <div th:replace="/fragments/rank.html :: fragment-rank"></div>


    </div>
</div>
</body>

<script th:src="@{/js/main/main_js_jk.js}"></script>
<script th:src="@{/js/board/board_list_sh.js}"></script>
<script th:src="@{/js/message/message_js_sh.js}"></script>

