<div id="message_section">
    <div id="table1" th:if="${list!=null}" >
        <table class="col-100 col" >
            <colgroup>
                <col width="10%">
                <col width="20%">
                <col width="*%">
                <col width="*%">
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th>no</th>
                <th>보낸사람</th>
                <th>내용</th>
                <th>보낸일자</th>
            </tr>
            </thead>
            <tbody  id="seacrhBody">
            <tr class="messages" th:each="mv:${list}">
                <td class="chkBox">
                    <div class="checkbox2 m-0">
                        <input class="targetChk" id="check" type="checkbox">
                        <label for="check">
                        </label>

                    </div>
                </td>
                <td class="msgNo" th:text="${mv.MSG_NO}" ></td>
                <td th:text="${mv.MEMBER_ID}"></td>
                <td th:text="${mv.MSG_CONTENT}" ></td>
                <td th:text="${mv.MSG_DATE}"></td>

            </tr>
            </tbody>
        </table>
        <form id="deleteMsg" type="post" action="message/moveBlock">
            <input id="delMsgNo" name="msgNo" type="hidden" value="-1"/>
            <input type="button" class="delete-message" value="삭제" onclick="fn_move_Block();">
        </form>
    </div>
</div>

<script>

</script>
    <script th:src="@{/js/message/message_js_sh.js}"></script>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
