<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/message/message_receiver.css}" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="popup_wrapper">
    <div id="popup_content">
        <div class="popup_header">
            <input type="text" class="search-name2" placeholder="받는사람"><input type="button" class="find-name2"
                                                                              value="검색">
        </div>
        <div class="popup_tablebox">
            <table class="popup_table" border="1" th:if="${list!=null}">
                <thead>
                <tr>
                    <th></th>
                    <th>아이디</th>
                    <th>닉네임</th>
                    <th>이름</th>
                    <th>이메일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="m : ${list}">
                    <td>
                        <div class="checkbox2 m-0">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">
                            </label>
                        </div>
                    </td>
                    <td th:text="${m.MEMBER_ID}"></td>
                    <td th:text="${m.MEMBER_NICKNAME}"></td>
                    <td th:text="${m.MEMBER_NAME}"></td>
                    <td th:text="${m.MEMBER_EMAIL}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>