 <div id="message_section">
        <div id="table3" th:if="${list!=null}" >
            <table class="col-100 col">
                <colgroup>
                    <col width="10%">
                    <col width="20%">
                    <col width="*%">
                    <col width="*%">
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th>보낸사람</th>
                    <th>내용</th>
                    <th>보낸일자</th>
                </tr>
                </thead>
                <tbody th:each="mv:${list}">
                <tr>
                    <td>
                        <div class="checkbox2 m-0">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">
                            </label>
                        </div>
                    </td>
                    <td th:text="${mv.MEMBER_ID}"></td>
                    <td th:text="${mv.MSG_CONTENT}"></td>
                    <td th:text="${mv.MSG_DATE}"></td>
                </tr>
                </tbody>
            </table>
            <form id="deleteBlockMsg" method="post" action="message/delete">
                <input id="delBlockMsgNo" name="msgNo" type="hidden" value="-1"/>
                <input id="delBlockType" name="delType" type="hidden" value="block"/>

                <input type="button" class="delete-message" value="삭제" onclick="deleteBlockMsg()";>
            </form>

        </div>
    </div>
</div>
    <script th:src="@{/js/message/message_js_sh.js}"></script>
 <script>
     function deleteBlockMsg() {
         if (confirm("blcok 삭제하시겠습니까?")) {
             $('.targetChk').each(function () {
                 if ($(this).is(':checked')) {
                     var msgNo = $(this).closest('tr').children('.msgNo').html();
                     var loc = getContextPath()+"/message/delete";
                     $('#deleteBlockMsg').attr("action", loc);
                     $('#delBlockMsgNo').val(msgNo);
                     $('#deleteBlockMsg').submit();
                 }
             });
         } else alert("삭제안한다");
     }
 </script>