<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/message/message_popup.css}" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>


<!--    <script>-->
<!--        $(window).load(function() {-->
<!--            window.resizeTo(500, 400 );-->
<!--        });-->
<!--    </script>-->
</head>
<body>
    <div id="popup_wrapper">
        <div id="popup+content">
<!--            <h1>쪽지 보내기</h1>-->
            <form id="sendMsg">
            <div class="search-receiver">
                받는사람: <span th:text="${rcvNm}"></span>
                <input type="hidden" class="search-name" name="memberId" th:value="${session.loginMember.MEMBER_ID}">
                <input type="hidden" class="search-name" name="recvMember" th:value="${rcvId}">
            </div>
            <div class="msg-content">
                <textarea name="msgContent">쪽지내용</textarea>
            </div>
            <div id="message_buttons">
                <button class="message_buttons" type="button" onclick="sendMsg($('#sendMsg'));">보내기</button>
                <button class="message_buttons2" type="button" onclick="javascript:self.close();">취소</button>
            </div>
            </form>
        </div>
    </div>

</body>
<script th:src="@{/js/message/message_js_sh.js}"></script>
<script th:src="@{/js/message/messagePopup_js_sh.js}"> </script>

</html>