<div id="message_section">
    <div id="table1" th:if="${list!=null}">
        <div id="table2">
            <table class="col-100 col">
                <colgroup>
                    <col width="10%">
                    <col width="20%">
                    <col width="*%">
                    <col width="*%">
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th>no</th>
                    <th>받은사람</th>
                    <th>내용</th>
                    <th>읽음여부</th>
<!--                <th>발송취소</th>-->
                </tr>
                </thead>
                <tbody th:each="mv:${list}">
                <tr>
                    <td>
                        <div class="checkbox2 m-0">
                            <input id="check2" type="checkbox">
                            <label for="check2">
                            </label>
                        </div>
                    </td>
                    <td class="msgNo" th:text="${mv.MSG_NO}" ></td>
                    <td th:text="${mv.RECV_MEMBER}"></td>
                    <td th:text="${mv.MSG_CONTENT}"></td>
                    <td th:text="${mv.READ_CHECK} eq 0?'안읽음':'읽음'"></td>
<!--                    <td th:text="${mv.READ_CHECK} eq 0?'발송취소':''">-->
                        <button class="msg-cancel"></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="button" class="send-message" value="쪽지보내기" onclick="showPopup(1);">
            <form id="deleteMsg" type="post" action="message/delete">
                <input id="delMsgNo" name="msgNo" type="hidden" value="-1"/>
                <input type="button" class="delete-message" value="삭제" onclick="deleteMsg()" ;>
            </form>
            <input type="button" class="send-cancel" value="발송취소" >
        </div>
    </div>
</div>
<script>
    function deleteMsg() {
        if (confirm("삭제하시겠습니까?")) {
            $('.targetChk').each(function () {
                if ($(this).is(':checked')) {
                    var msgNo = $(this).closest('tr').children('.msgNo').html();
                    var loc = "/message/delete";
                    $('#deleteMsg').attr("action", loc);
                    $('#delMsgNo').val(msgNo);
                    $('#deleteMsg').submit();
                }
            });
        } else alert("삭제안한다");
    }
</script>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>