 <div id="message_section">
        <div id="table3" th:if="${list!=null}" >
            <table class="col-100 col">
                <colgroup>
                    <col width="10%">
                    <col width="20%">
                    <col width="*%">
                    <col width="*%">
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th>no</th>
                    <th>보낸사람</th>
                    <th>내용</th>
                    <th>보낸일자</th>
                </tr>
                </thead>
                <tbody id="seacrhBody">
                <tr class="messages" th:each="mv:${list}">
                    <td class="chkBox">
                        <div class="checkbox2 m-0">
                            <input class="targetChk" id="checkbox1" type="checkbox">
                            <label for="checkbox1">
                            </label>
                        </div>
                    </td>
                    <td class="msgNo" th:text="${mv.MSG_NO}" ></td>
                    <td th:text="${mv.MEMBER_ID}"></td>
                    <td th:text="${mv.MSG_CONTENT}"></td>
                    <td th:text="${mv.MSG_DATE}"></td>
                </tr>
                </tbody>
            </table>
            <div id="searchPageBar">
                <div>
                    <!-- 이전 -->
                    <div>
                        <a th:if="${pagination.currentPage} eq 1" >&lt;</a>
                        <a href="#" th:unless="${pagination.currentPage} eq 1" th:onclick="|fn_ajax_paging('${pagination.currentPage-1}')|">&lt;</a>
                    </div>
                    <!-- 페이지블록 -->
                    <th:block th:each="n:${#numbers.sequence(pagination.firstPage,pagination.lastPage)}">
                        <div th:if="${pagination.currentPage eq n}" style="background-color:#247094 ;color:white;font-size:20px;">
                            <a th:onclick="|fn_ajax_paging('${n}')|" th:text="${n}" >1</a>
                        </div>

                        <div th:unless="${pagination.currentPage eq n}">
                            <a  href="#" th:onclick="|fn_ajax_paging('${n}')|" th:text="${n}">1</a>
                        </div>
                    </th:block>
                    <!-- 다음 -->
                    <div>
                        <a th:if="${pagination.totalPageCount==pagination.currentPage}">&gt;</a>
                        <a href="#" th:unless="${pagination.totalPageCount==pagination.currentPage}" th:onclick="|fn_ajax_paging('${pagination.currentPage+1}')|">&gt;</a>
                    </div>
                </div>
            </div>
            <form id="deleteBlockMsg" method="post" action="message/delete">
                <input id="delBlockMsgNo" name="msgNo" type="hidden" value="-1"/>
                <input id="delBlockType" name="delType" type="hidden" value="block"/>

                <input type="button" class="delete-message" value="삭제" onclick="deleteBlockMsg()";>
                <input type="button" class="empty-message" value="휴지통 비우기" onclick="emptyBlock()";>
            </form>

        </div>
    </div>
</div>
    <script th:src="@{/js/message/message_js_sh.js}"></script>
    <script th:src="@{/css/message/message_tap.css}"></script>
 <script>
     function deleteBlockMsg(msgNo) {
         if (confirm("메세지를 완전히 삭제하시겠습니까?")) {
             $('.targetChk').each(function () {
                 var msgNo = $(this).parents('td').next().html();
                 if ($(this).is(':checked')) {
                     $.ajax({
                         url: getContextPath() + "/message/selectBlock",
                         data: {"msgNo": msgNo},
                         type: 'POST',
                     }).done(function () {
                         fn_message_move('block');
                     });
                 }
             });
         }else alert("삭제안함");
     }

     function emptyBlock(){
         if(confirm("휴지통을 비우시겠습니까?")){
             $.ajax({
                 url:getContextPath()+"/message/emptyBlock",
                 type:'POST',
             }).done(function (){
                 alert("완료되었습니다.");
                 fn_message_move('block');
             });
         }
     }


     function fn_ajax_paging(i){
         $.ajax({
             url:getContextPath()+"/message/block",
             data:{
                 "currentPage":i,
             }
         }).done(function(fragment){
             $("#target").html(fragment);
         });
     };


 </script>
