<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--쪽지함 페이지 테이블-->
<div id="tab-1" class="tab-content current" th:fragment="fragment-messagetable">
  <div class="tablebox">
    <table class="col-100 col">
      <colgroup>
        <col width="10%">
        <col width="20%">
        <col width="*%">
        <col width="*%">
      </colgroup>
      <thead>
      <tr>
        <th></th>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>일자</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="checkbox2 m-0">
            <input id="checkbox1" type="checkbox">
            <label for="checkbox1">
            </label>
          </div>
        </td>
        <td>♥</td>
        <td>♥</td>
        <td>♥</td>
        <td>♥</td>
      </tr>
      <tr>
        <td>
          <div class="checkbox2 m-0">
            <input id="checkbox2" type="checkbox">
            <label for="checkbox1">
            </label>
          </div>
        </td>
        <td>♥</td>
        <td>♥</td>
        <td>♥</td>
        <td>♥</td>
      </tr>
      <tr>
        <td>
          <div class="checkbox2 m-0">
            <input id="checkbox3" type="checkbox">
            <label for="checkbox1">
            </label>
          </div>
        </td>
        <td>♥</td>
        <td>♥</td>
        <td>♥</td>
        <td>♥</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</html>