<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <!--message css-->
    <link th:href="@{/css/message/message_tap.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrapper">

    <!-- 헤더바 -->
    <div th:replace="/fragments/headerbar.html :: fragment-headerbar"></div>
    <!-- 좌측메뉴바 -->
    <div th:replace="/fragments/nav.html :: fragment-nav"></div>

    <!-- 우측콘텐츠 / 고정+변동 -->
    <div id="content">

        <!-- 프로필 -->
        <div th:replace="/fragments/profile.html :: fragment-profile"></div>


        <!-- message 구역  -->
        <div class="feed">
<!--            <div class="message-header">-->
<!--                <div class="buttonbox">-->
<!--                    <button type="button" id="btn_1" onclick="fn_receive_message();">받은쪽지</button>-->
<!--                    <button type="button" id="btn_2">보낸쪽지</button>-->
<!--                    <button type="button" id="btn_3">차단함</button>-->
<!--                </div>-->
<!--                <div >-->
<!--                    <input class="search-message" type="msgsearch" value="쪽지 검색해보세요~">-->
<!--                </div>-->
                <div th:replace="/message/message_receiveMessage.html :: message_receive"></div>
<!--            </div>-->

<!--        </div>-->

        <!-- HOT키워드순위창 -->
<!--        <div th:replace="/fragments/rank.html :: fragment-rank"></div>-->

    </div>
</div>
</div>
</body>

<script th:src="@{/js/main/main_js_jk.js}"></script>
<script th:src="@{/js/message/message_js_sh.js}"></script>

</html>