<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/message/message_receiver.css}" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div id="popup_wrapper">
    <div id="popup_content">
        <div class="popup_header">
            <form id="rSearchFrm" type="post" action="./rSearch">
                <input type="text" name="sCondition" class="search-name2" placeholder="받는사람">
                <input type="submit" class="find-name2" value="검색" >
            </form>
        </div>
        <div class="popup_tablebox">
            <table class="popup_table" border="1" th:if="${list!=null}">
                <thead>
                <tr>
                    <th>아이디</th>
                    <th>닉네임</th>
                    <th>이름</th>
                    <th>이메일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="m : ${list}"  onclick="showMsgPop(this)">
                    <td th:text="${m.MEMBER_ID}" class="find-id"></td>
                    <td th:text="${m.MEMBER_NICKNAME}"></td>
                    <td th:text="${m.MEMBER_NAME}" class="find-name"></td>
                    <td th:text="${m.MEMBER_EMAIL}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
<script th:src="@{/js/message/message_js_sh.js}"></script>
<!--<script th:src="@{/js/message/messagePopup_js_sh.js}"> </script>-->

