<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/message/message_popup.css}" rel="stylesheet" type="text/css">

    <script>
        $(window).load(function() {
            window.resizeTo(500, 400 );
        });
    </script>
</head>
<body>
    <div id="popup_wrapper">
        <div id="popup+content">
<!--            <h1>쪽지 보내기</h1>-->
            <div class="search-receiver">
                <input type="text" class="search-name" placeholder="받는사람"><input type="button" class="find-name" value="주소록" onclick="showPopup(2);" >
            </div>
            <div class="msg-content">
                <textarea>쪽지내용</textarea>
            </div>
            <div id="message_buttons">
                <button class="message_buttons" type="button">보내기</button>
                <button class="message_buttons2" type="button">취소</button>
            </div>
        </div>
    </div>

</body>
<script th:src="@{/js/message/message_js_sh.js}"></script>
</html>