/* 정보 수정하는 부분 */

table#privacy-info-modi{
    width:100%;
    border-collapse: collapse;
}

table#privacy-info-modi tr{
    border-bottom: 1px solid lightgrey;
}

table#privacy-info-modi table tr:last-of-type{
    height: 150px !important;
    border: none !important;
    text-align: center;
}

table#privacy-info-modi table tr:nth-of-type(3) td{
    padding: 20px 0px;
}

table#privacy-info-modi table tr>td:first-of-type{
    font-size: 20px;
    font-weight: bold;
    width: 200px !important;
    /* border: 1px black solid; */
}

div#info-modi button {
    width: 80px;
    margin: auto;
    height: 40px;
    border-radius: 30px;
    margin: 0 5px 70px 5px;
    outline: none;
    border: none;
    background: #287094;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
div#info-modi button:last-of-type {
    background: #f7f7f7;
    color: black;
    border: 1px solid lightgray;
}

input.normal-size{
    width: 350px;
    padding: 5px 0;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}