/* privacy.html*/

div#wrapper{
    width: 1920px;
    height: 100px;
    /* border: 1px solid lightgrey; */

}

#modi-wrapper{
    width: 83.4%;
    max-width: 1620px;
    position: relative;
    height: auto;
    top: 120px;
    left: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: hidden;
}

div#info-bar{
    width: 80%;
    position: fixed;
    background-color: white;
    margin: 0 auto;
    border-bottom: 2px solid black ;
    overflow: hidden;
    vertical-align:center;
}

ul.left{
    float: left;
    margin : 60px 100px 10px 100px;

}

ul.right{
    float: right;
    margin : 60px 100px 10px 100px;

}

ul.left li{
    color: lightgrey;
    float: left;
    padding-left: 30px;
    font-size: 30px;
}

div#info-modi{
    width: 100%;
    margin: 80px auto;

    /* background-color:red; */

}

/* 프로필 정보 / 개인정보 버튼 색상변경*/
ul.left li button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

ul.left li:nth-of-type(1) button{
    border: 1px solid #287094;
    background-color: #287094;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.privacy-btn:hover{
    border: 1px solid lightgray;
    background-color: lightgray;
    color: white;
    font-weight: bolder;
    cursor:pointer;
}

/* 우측 아이콘 hover 됐을 때, 배경 색 바꾸기  */
ul.right li{
    float: right;
    padding-right: 30px;
    align-items: center;
    cursor: pointer;
}


ul.right li div{
    background-color:white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
}

ul.right li div img{
    width: 50%;
    height: auto;
    padding-top: 10px;
}

ul.right li:nth-of-type(even) div:hover{
    background-color:rgb(6, 102, 146);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    filter: invert(100%);
}

ul.right li:nth-of-type(odd) div:hover{
    background-color:#F77B1E;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    filter: invert(100%);
}

ul.right li img{
    padding-top: 7px;
}


/* 정보 수정하는 부분 */

div#info-modi table{
    margin: 60px auto;
    width:800px;
    /* border: black 1px solid; */
    border-collapse: collapse;
    padding-right: 100px;
    /* border: black 1px solid; */
}

div#info-modi table tr{
    height: 150px;
    border-bottom: 1px solid lightgrey;
}

div#info-modi table tr:last-of-type{
    height: 150px !important;
    border: none !important;
    text-align: center;
}

div#info-modi table tr:nth-of-type(3) td{
    padding: 20px 0px;
}

div#info-modi table tr>td:first-of-type{
    font-size: 20px;
    font-weight: bold;
    width: 200px !important;
    /* border: 1px black solid; */
}

div#info-modi table tr:last-of-type>td.profile-container{
    overflow: hidden;
}

div.profile-img{
    border: 2px solid lightgrey;
    float: left;
    background-color:white;
    width:150px;
    height:150px;
    border-radius:20px;
    text-align:center;
    margin: 10px auto;
    font-size:12px;
    vertical-align:middle;
    line-height:150px;
    overflow:hidden;
}

div.profile-txt{
    /* border: 1px black solid; */
    float: left;
    margin: 40px 20px;
}

div.profile-txt input{
    margin-top: 10px;
}

/* profilemodify.html */

input.normal-size{
    width: 370px;
    height: 40px;

}

input.small-size{
    width: 100px;
    height: 40px;
}

.blue-btn{
    width: 80px;
    height: 40px;
    background-color: #287094;
    /* background-color: #F77B1E; */
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

#label-btn{
    width: 80px;
    height: 40px;
    /* background-color: #287094; */
    background-color: lightgrey;
    border: 1px white solid;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
}

.blacksolid-btn{
    width: 80px;
    height: 40px;
    background-color: white;
    border: 1px black solid;
    border-radius: 20px;
    color: black;
    cursor: pointer;
}