div#privacy-info-bar{
    width: 80%;
    position: fixed;
    background-color: white;
    margin: 0 auto;
    border-bottom: 2px solid black ;
    overflow: hidden;
    vertical-align:center;
}

ul.privacy-left{
    float: left;
    margin : 60px 100px 10px 100px;

}

ul.privacy-right{
    float: right;
    margin : 60px 100px 10px 100px;


}

ul.privacy-right li{
    float: right;
    padding-right: 30px;
    align-items: center;
    cursor: pointer;
}

ul.privacy-right li div {
    background-color: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
}

ul.privacy-right li div img {
    width: 50%;
    height: auto;
    padding-top: 10px;
}

ul.privacy-left li{
    color: lightgrey;
    float: left;
    padding-left: 30px;
    font-size: 30px;
}

div#privacy-info-modi{
    width: 100%;
    margin: 80px auto;

}

div#privacy-info-modi table {
    margin: 60px auto;
    width: 800px;
    /* border: black 1px solid; */
    border-collapse: collapse;
    padding-right: 100px;
    /* border: black 1px solid; */
}

/* 프로필 정보 / 개인정보 버튼 색상변경*/
ul.privacy-left li>button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

ul.privacy-left li:nth-of-type(2) button{
    border: 1px solid #287094;
    background-color: #287094;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.profile-btn:hover{
    border: 1px solid lightgray;
    background-color: lightgray;
    color: white;
    font-weight: bolder;
    cursor:pointer;
}

/* 우측 아이콘 hover 됐을 때, 배경 색 바꾸기  */
ul.privacy-right li{
    float: right;
    padding-right: 30px;
    align-items: center;
    cursor: pointer;
}


ul.privacy-right li div{
    background-color:white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
}

ul.privacy-right li div img{
    width: 50%;
    height: auto;
    padding-top: 10px;
}

ul.privacy-right li:nth-of-type(even) div:hover{
    background-color:rgb(6, 102, 146);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    filter: invert(100%);
}

ul.privacy-right li:nth-of-type(odd) div:hover{
    background-color:#F77B1E;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    filter: invert(100%);
}

ul.privacy-right li img{
    padding-top: 7px;
}


/* 정보 수정하는 부분 */

div#privacy-info-modi table{
    margin: 60px auto;
    width:800px;
    /* border: black 1px solid; */
    border-collapse: collapse;
    padding-right: 100px;
    /* border: black 1px solid; */
}

div#privacy-info-modi table tr{
    height: 150px;
    border-bottom: 1px solid lightgrey;
}

div#privacy-info-modi table tr:last-of-type{
    height: 150px !important;
    border: none !important;
    text-align: center;
}

div#privacy-info-modi table tr:nth-of-type(3) td{
    padding: 20px 0px;
}

div#privacy-info-modi table tr>td:first-of-type{
    font-size: 20px;
    font-weight: bold;
    width: 200px !important;
    /* border: 1px black solid; */
}

div#privacy-info-modi table tr:last-of-type>td.profile-container{
    overflow: hidden;
}
