/* 전체 컨텐츠 영역 */
#mywrite-whole-content{
    background: #f7f7f7;
    border-radius: 20px;
    padding: 10px 0;
}

div#mywrite-content{
    width: 1020px;
}

/* 카테고리 바 영역*/
div#write-bar{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid darkgray;
}

div#write-bar ul {
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: center;
}

div#write-bar ul li {
    margin: 0 20px;
}

div#write-bar li:nth-of-type(3) button,
div#write-bar li:nth-of-type(2) button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #f7f7f7;
    font-size: 20px;
    cursor: pointer;
}

div#write-bar li:nth-of-type(1) button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #287094;
    background-color: #287094;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

div#write-bar li:nth-of-type(3) button:hover,
div#write-bar li:nth-of-type(2) button:hover{
    border: 1px solid lightgray;
    background-color: lightgray;
    color: white;
    font-weight: bolder;
    cursor:pointer;
}

/*글 리스트 나오는 부분*/
div#write-list table{
    margin: 10px auto 20px auto;
    text-align: center;
    border-spacing: 25px;
    width: 950px;
    border-bottom: 1px solid darkgray;
}

div#write-list thead{
    font-size: 20px;
}

div#write-bar img{
    width: 40px;
    height: 40px;
}

td.moveToView:hover{
    font-weight: bolder;
    color: #ff6d00;
}

td.write-title{
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr.write-tr td:nth-of-type(2){

    font-weight: bold;
    cursor: pointer;
}

tr.write-tr td:nth-of-type(2):hover{
    color: #F77B1E;
    font-weight: bold;
    cursor: pointer;
}

#page-div{
    display: flex;
    justify-content: center;
    height: 45px;
}

#page-div div{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: darkgray;
    border-radius: 5px;
    margin: 0 3px;
}

